<div class="card w-full bg-base-100 shadow-xl md:col-span-4 md:col-start-3  p-4">
  <div class="card-body">
    <h1 class="text-3xl font-bold">Summary</h1>
    <h2 class="card-title">Changes</h2>
    <p>
      The following summarizes the mentoring engagement change proposal.
    </p>

    <p class="inline md:hidden my-4">
      Difficult to read on mobile? <a href='/changes' class="link">Read the change summary</a> on a separate page.
    </p>
    <div class="mockup-code">
      <pre data-prefix=" "><code>Mentoring engagement</code></pre>
      <pre data-prefix=" "><code>Negotiation term: Session frequency</code></pre>
      <pre data-prefix=" "><code>Negotiation protocol: TNP 1.0 - Session frequency</code></pre>
      <pre data-prefix="-" class="text-warning"><code>Session frequency: Twice a month</code></pre>
      <pre data-prefix="-" class="text-success"><code>Session frequency: Every day</code></pre>
      <pre data-prefix="+" class="text-success"><code>Mentor missed sessions allowed: 5</code></pre>
      <pre data-prefix="+" class="text-success"><code>Apprentice failure count allowed: 3</code></pre>
      <pre data-prefix="+" class="text-success"><code>Apprentice failure type: Total mistakes</code></pre>
      <pre data-prefix="+" class="text-success"><code>Mentor failure stake: 10 SOL</code></pre>
      <pre data-prefix="+" class="text-success"><code>Apprentice failure stake: 8 SOL</code></pre>
      <pre data-prefix="+"
        class="text-success"><code>Apprentice reset option: reset upon consecutive successful DSU practice</code></pre>
      <pre data-prefix="+" class="text-success"><code>Mentor reset option: Initiated by apprentice only</code></pre>
      <pre
        data-prefix=" "><code>Upon any type of failure from either party, the negotiated term reverts to its originally proposed setting.</code></pre>
    </div>
    <span class="text-xs text-info">The above code diff is part of the mock data, showing an example of what it would
      look like when
      you propose changes to the existing mentoring engagement. <a class="link"
        href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md">Read more</a>.</span>

    <p class="mt-8 italic text-xs">
      By submitting the proposal below, you will send your mentoring negotiation proposal
      to the Solana Blockchain. This requires you to sign your transaction and pay for
      the cost, which is a few Solana lamports. <a class="link"
        href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md">Read more</a>.
    </p>
    <div class="card-actions justify-end mt-8">
      <button class="btn btn-primary">Submit proposal</button>
    </div>
  </div>