<div class="bg-white w-full">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl text-center italic">{{ subtitle }}</h2>
    <h1 class="text-4xl text-center font-bold mb-8 md:mb-32">{{ questionTitle }}</h1>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a *ngFor="let choice of choices" (click)="selectAnswer(choice.id)"
        class="group hover:child-visible cursor-pointer">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img loading="lazy" [src]="choice.imageUrl"
            class="h-full w-full object-cover object-center scale-100 group-hover:scale-105 transition-transform duration-400">
        </div>
        <h3
          class="mt-4 text-sm text-gray-900 opacity-30 transition-opacity duration-800 ease-in-out group-hover:visible group-hover:opacity-100">
          {{ choice.title }}
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900" [innerHTML]="choice.descriptionHTML"></p>
      </a>
    </div>
  </div>
</div>