<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Booking</h1>
    <p class="text-center text-gray-400 italic mb-6">Published on July 28, 2023. Updated September 12, 2023.</p>
    <div class="prose lg:prose-xl mb-8">
      <picture class="mx-auto xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/mentoring.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/mentoring.jpg" type="image/jpeg">
        <img loading="lazy" class="mx-auto max-w-5/6 max-h-48 md:max-h-72 transition-[max-height] ease-in-out delay-150"
          src="/assets/mentoring.jpg" alt="Image description" />
      </picture>
      <p class="my-4 text-gray-500">
        If you've reached this point, great! I'm excited for you to get started
        shedding bad habits, discovering great reading materials, receiving prompt
        and clear feedback, and gaining clarity on your growth and direction!
      </p>
      <h2 class="text-2xl font-medium mb-4">Instructions</h2>
      <p class="my-4 text-gray-500">
        Step 1: Read about the <a class="link" href="/pricing">Discovery and Directions Deep Dive</a> session.

      </p>
      <p class="my-4 text-gray-500">
        Step 2: <a class="link" (click)="openTawkChat()">Reach out to us</a> to request
        for the preflight survey questionnaire. Your answers on this form will act as
        our starting point for our sessions.
      </p>
      <p class="my-4 text-gray-500">
        Step 3: Book your preferred schedule below.
      </p>

      <h2 class="text-2xl font-medium mb-4">Schedule your coaching and mentoring session</h2>
      <p class="my-4 text-gray-500">
        I look forward to learning about your objectives and your motivations!
        Let's get you the results and outcomes that you want and blow your team away.
      </p>
      <p class="my-4 text-gray-400 text-sm italic">
        Further instructions will be sent to your email once payment is confirmed, which will allow us to begin the
        preflight survey questionnaire which initiates the coaching and mentoring sessions.
      </p>
      <iframe src="https://koalendar.com/e/tomegg-discovery-directions?embed=true" width="100%" height="800px"
        frameborder="0"></iframe>
      <p class="mb-4 text-gray-400 text-sm italic">
        Please note, without sending proof of payment, your booked schedule
        may or may not be secured. If there are any questions or issues, feel
        free to <a class="link" (click)="openTawkChat()">message us first</a>.
      </p>

      <h2 class="text-2xl mt-8 mb-2 font-medium mb-4">Grounding truths</h2>
      <p class="my-4 text-gray-400">
        You don't have control over other people's opinions or perspectives of you.
        You have some control over your life. That little control? You can master it.
        You deserve a life that is not gripped by fear, anxiety, and complacency.
        You deserve a life that has peace.
      </p>

      <blockquote class="border-l-4 border-green-500 pl-4 py-2 my-4">
        <p class="my-4">
          You have control over your direction and your growth. Your pace and direction is yours,
          and nobody can tell you what you want, and how fast it will take you to get it.
          Direction and pace is yours.
        </p>
        <p class="my-4">
          You deserves a life that allows you to dream. Dreams that you can scribble, sketch, illustrate, and
          eventually cherish by bringing it to life. You deserve a life that is fully-lived.
        </p>
      </blockquote>
      <p class="my-4 text-gray-500">
        If you're still on the fence, feel free to browse our library- or lurk in the Discord community! We have
        content that we're continuously building in the areas of mentorship and apprenticeships, technology,
        software engineering, education and learning, and games.
      </p>
      <a href="/docs/onboarding/qualifications" class="mt-8 btn btn-outline m-2 text-gray-400">Back: Qualifications</a>
      <a href="https://docs.tome.gg" class="btn btn-outline m-2 text-gray-400">I want to lurk first; Explore the
        library</a>
    </div>
  </article>
</div>