<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Tome.gg Community</h1>
    <p class="text-center text-gray-400 italic mb-6">Published on July 28, 2023.
      Updated on January 10, 2024.</p>
    <div class="prose lg:prose-xl mb-8">
      <picture class="rounded-lg shadow-2xl">
        <source class="w-36 sm:w-48 rounded-full" loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp"
          type="image/webp">
        <source class="w-36 sm:w-48 rounded-full" loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg"
          type="image/jpeg">
        <img loading="lazy" class="w-36 sm:w-48 rounded-full mx-auto transition-[max-height] ease-in-out delay-150"
          src="/assets/dev-profile-microsoft-2023.jpg" alt="Image description" />
      </picture>
      <p class="my-4 text-gray-800">
        Hi there! I'm Darren, <span class="text-black font-semibold">the Founder of Tome.gg.</span>
        I'm glad to hear you're interested in our coaching and mentoring programs.
      </p>
      <h2 class="text-2xl font-medium mt-16 mb-4">Growth Inventory: Explainer</h2>
      <p class="my-4 text-gray-800">
        The following section is a free assessment called a Growth Inventory, which
        reveals to you your primary areas of opportunity for growth as a mid- to
        senior-level software engineer.
      </p>
      <p class="my-4 text-gray-800">
        It is a <strong class="text-black">5-minute assessment</strong> that is composed of <strong
          class="text-black">25 multiple-choice
          questions</strong> that focus solely on your perspective about
        your work as a software engineer, your perspectives on your growth and communications,
        and your assessment of your confidence and competence level.
      </p>
      <p class="my-4 text-gray-800">
        Once completed, you will receive a <strong class="text-black">one-page summary</strong>
        of results that highlights your areas of growth in three areas:
        (1) communications, (2) best practices in growth, and (3) navigating
        complex and challenging scenarios.
      </p>
      <p class="my-4 text-gray-800">
        To receive a deeper explanation about each aspect of your areas of opportunity
        for growth, you may provide your email and we can send you our <strong class="text-black">
          five-page explainer</strong> tailored to your results.
      </p>
      <p class="my-4 text-sm text-gray-400">
        This data is collected for the primary purpose of academic and market research in
        understanding the challenges in software engineering apprenticeship and mentorship.
        Read about our <a class="link cursor" href="/privacy-policy">data privacy policy</a>.
      </p>
      <h2 class="text-2xl font-medium mt-16 mb-4">Growth Inventory</h2>
      <app-growth-inventory />

      <div id="next-qualifications">
        <h2 class="text-2xl font-medium my-4">Book a Discovery and Deep Dive session</h2>
        <p class="my-4 text-gray-500">
          After completing the growth inventory, head straight to booking a discovery and
          deep dive session to gain some clarity on your current professional growth and
          career trajectory!
        </p>
        <a href="/docs/onboarding/booking" class="btn btn-outline m-2">Next: Booking</a>
      </div>
    </div>
  </article>
</div>