<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Tome.gg Community</h1>
    <p class="text-center text-gray-400 italic mb-6">Published on July 28, 2023.
      Updated on January 10, 2024.</p>
    <div class="prose lg:prose-xl mb-8">
      <picture class="rounded-lg shadow-2xl">
        <source class="w-36 sm:w-48 rounded-full" loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp"
          type="image/webp">
        <source class="w-36 sm:w-48 rounded-full" loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg"
          type="image/jpeg">
        <img loading="lazy" class="w-36 sm:w-48 rounded-full mx-auto transition-[max-height] ease-in-out delay-150"
          src="/assets/dev-profile-microsoft-2023.jpg" alt="Image description" />
      </picture>
      <p class="my-4 text-gray-800">
        Hi there! I'm Darren, <span class="text-black font-semibold">the Founder of Tome.gg.</span>
        I'm glad to hear you're interested in our coaching and mentoring programs.
      </p>
      <h2 class="text-2xl font-medium mt-16 mb-4">Growth Inventory: Explainer</h2>
      <p class="my-4 text-gray-800">
        The following section is a free assessment called a Growth Inventory, which
        reveals to you your primary areas of opportunity for growth as a mid- to
        senior-level software engineer.
      </p>
      <p class="my-4 text-gray-800">
        It is a <strong class="text-black">5-minute screening assessment</strong> that is composed of <strong
          class="text-black">25 multiple-choice
          questions</strong> that focus solely on your perspective about
        your work as a software engineer, your perspectives on your growth and communications,
        and your assessment of your confidence and competence level.
      </p>
      <p class="my-4 text-gray-800">
        Once completed, you will receive a <strong class="text-black">one-page summary</strong>
        of results that highlights your areas of growth in three areas:
        (1) communications, (2) best practices in growth, and (3) navigating
        complex and challenging scenarios.
      </p>
      <p class="my-4 text-gray-800">
        To receive a deeper explanation about each aspect of your areas of opportunity
        for growth, you may provide your email and we can send you our <strong class="text-black">
          five-page explainer</strong> tailored to your results.
      </p>
      <p class="my-4 text-sm text-gray-400">
        This data is collected for the primary purpose of academic and market research in
        understanding the challenges in software engineering apprenticeship and mentorship.
        Read about our <a class="link cursor" href="/privacy-policy">data privacy policy</a>.
      </p>

      <app-growth-inventory (onComplete)="onGrowthInventoryComplete($event)" />

      <div id="next-qualifications" *ngIf="isGrowthInventoryComplete">
        <div *ngIf="isGrowthUrgent === 'undecided'">
          <h2 class="text-2xl font-medium my-4">How important and urgent is my growth?</h2>
          <div id="chat" class="chat chat-start mt-8">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <picture class="">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
                    class="w-full rounded-full">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
                    class="w-full rounded-full">
                  <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-full rounded-full" />
                </picture>
              </div>
            </div>
            <div class="chat-bubble">
              <p class="mt-2 mb-4">
                Many people are in different stages in their lives- some need to prioritize
                taking care of their family, some need to support a sibling through college,
                and some have to take life at a different pace for justified reasons.
                Sometimes growth is not the top most priority. Sometimes it is safety,
                health, security, or peace.
              </p>
              <p class="mb-4">
                That's <u>perfectly okay</u>.
              </p>
              <p class="mb-4">
                There are fast paces in life and slow paces in life- and knowing
                when to go fast and slow is important. Otherwise- you risk hurting
                yourself or the people around you.
              </p>
              <p class="mb-4">
                Are you at that stage right now where your growth needs to take
                a backseat while you relax and recover?
              </p>
            </div>
          </div>
          <a href="#" (click)="$event.preventDefault(); isGrowthUrgent = 'no'" class="btn btn-outline m-2">Yes, I need a
            break</a>
          <a href="#" (click)="$event.preventDefault(); isGrowthUrgent = 'yes'" class="btn btn-outline m-2">No, it's
            time for me to
            accelerate</a>
        </div>

        <div *ngIf="isGrowthUrgent === 'no' && isIndependentLearner === 'undecided'">
          <h2 class="text-2xl font-medium my-4">How important and urgent is my growth?</h2>
          <div id="chat" class="chat chat-start mt-8">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <picture class="">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
                    class="w-full rounded-full">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
                    class="w-full rounded-full">
                  <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-full rounded-full" />
                </picture>
              </div>
            </div>
            <div class="chat-bubble">
              <p class="mt-2 mb-4">
                I think that's the right call. You have full control over what
                you prioritize over your professional growth.
              </p>
              <p class="mb-4">
                Forgive me for asking, but is your concern related to finding
                better work-life balance or integration, taking care of your mental health,
                learning to say no and learning to set boundaries, or
                learning to reflect and introspect on your personal direction?
              </p>
              <p class="mb-4">
                Cause sometimes accelerating and growth is not the priority when
                we're not certain where we want to go in the first place.
              </p>
              <p class="mb-4">
                If this is the case, do you want to solve this problem on your own
                or do you want help?
              </p>
            </div>
          </div>
          <a href="#" (click)="$event.preventDefault(); isIndependentLearner = 'yes'" class="btn btn-outline m-2">Yes, I
            want to deal with this
            on my own</a>
          <a href="#" (click)="$event.preventDefault(); isIndependentLearner = 'no'" class="btn btn-outline m-2">No,
            I've struggled already and
            this is urgent enough to ask for help</a>
        </div>

        <div *ngIf="isIndependentLearner == 'yes'">
          <h2 class="text-2xl font-medium my-4">Explore free resources</h2>
          <p class="my-4 text-gray-500">
            In Tome.gg, we provide a library of stories collected all over the
            internet that helps you learn at your own pace.
          </p>
          <div id="chat" class="chat chat-start mt-8">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <picture class="">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
                    class="w-full rounded-full">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
                    class="w-full rounded-full">
                  <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-full rounded-full" />
                </picture>
              </div>
            </div>
            <div class="chat-bubble">
              <p class="mt-2 mb-4">
                Excellent. You got this!
              </p>
              <p class="mb-4">
                Take your time, relax, and unwind as necessary. In Tome.gg, we've
                collected some nice (free) reading materials that you can use at
                your convenience.
              </p>
              <p class="mb-4">
                We have the <strong><u>Tome.gg Library</u></strong> which houses stories,
                problems, challenges, contexts, and mental models all about Software
                Engineering. Read at your own pleasure.
              </p>
              <p class="mb-4">
                For more do-it-yourself learners, we have <strong><u>Tome.gg Protocols
                  </u></strong> which houses actionable instructions and best practices in
                learning software engineering- curated into one place. Enjoy!
              </p>
              <p class="mb-4 text-sm italic">
                Note: The links to the Library and Protocols open in a new window.
              </p>
            </div>
          </div>
          <a target="_blank"
            href="https://docs.tome.gg?utm_source=tome.gg&utm_medium=direct&utm_campaign=app_onboarding&utm_id=onboarding"
            class="btn btn-outline m-2">Tome.gg Library</a>
          <a target="_blank"
            href="https://protocol.tome.gg?utm_source=tome.gg&utm_medium=direct&utm_campaign=app_onboarding&utm_id=onboarding"
            target="_blank" class="btn btn-outline m-2">Tome.gg Protocols</a>
          <a href="/docs/onboarding/booking" class="btn btn-outline btn-neutral m-2">Explore Booking</a>
        </div>
        <div *ngIf="isIndependentLearner == 'no' || isGrowthUrgent == 'yes'">
          <h2 class="text-2xl font-medium my-4">Book a Discovery and Deep Dive session</h2>
          <p class="my-4 text-gray-500">
            In Tome.gg, we provide a service for you to track your growth journey
            as you accelerate and develop your professional skills.
          </p>
          <p class="my-4 text-gray-500">
            If you've been feeling stuck and uncertain about how to advance in your career
            or how to negotiate promotions, or how to be effective with your job search,
            what has been holding you back?
          </p>
          <div id="chat" class="chat chat-start mt-8">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <picture class="">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
                    class="w-full rounded-full">
                  <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
                    class="w-full rounded-full">
                  <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-full rounded-full" />
                </picture>
              </div>
            </div>
            <div class="chat-bubble">
              <p class="mt-2 mb-4">
                Don't let <u>others</u> (limited set of opportunities they have laid in
                front of you) or <u>yourself</u> (your bad growth habits, difficulty
                in expressing yourself, or problem solving) or <u>fears and uncertainty</u>
                hold back your potential and growth.
              </p>
              <p class="mb-4">
                Book a Discovery and Deep Dive session and achieve your financial, professional,
                and work-life balance goals today!
              </p>
            </div>
          </div>

          <a href="/docs/onboarding/booking" class="btn btn-outline m-2">Next: Booking</a>
          <a href="/pricing" target="_blank" class="btn btn-outline m-2">Explore Pricing</a>
        </div>
      </div>


    </div>
  </article>
</div>