<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Tome.gg Community</h1>
    <p class="text-center text-gray-400 italic mb-6">Published on July 28, 2023</p>
    <div class="prose lg:prose-xl mb-8">
      <picture class="mx-auto xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/growth.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/growth.jpg" type="image/jpeg">
        <img loading="lazy" class="mx-auto max-w-5/6 max-h-48 md:max-h-72 transition-[max-height] ease-in-out delay-150"
          src="/assets/growth.jpg" alt="Image description" />
      </picture>
      <p class="my-4 text-gray-500">
        Hi there! <span class="text-black font-bold">I'm Darren, the Founder of Tome.gg.</span> Welcome to our coaching
        and
        mentoring platform for software engineers!
      </p>
      <p class="my-4 text-gray-500">
        This guide explains more about what results and outcomes you'll get by going through the Tome.gg program.
      </p>
      <h2 class="text-2xl font-medium mb-4">What Tome.gg does for you</h2>
      <blockquote class="border-l-4 border-blue-500 pl-4 py-2 my-4">
        <p class="text-gray-900 italic">
          Our goal in Tome.gg is to help you optimize, personalize, and accelerate your learning journey.
        </p>
      </blockquote>
      <p class="my-4 text-gray-500">
        We do this in a variety of ways:
      </p>
      <ol class="my-4 list-disc list-inside text-gray-500">
        <li>low-touch experiences (i.e. not so personalized);</li>
        <li>high-touch experiences</li>
      </ol>
      <h2 class="text-2xl font-medium mb-4">Your responsibility <sup class="text-lime-500 text-sm">free</sup></h2>
      <p class="my-4 text-gray-500">
        At the lowest levels of personalization, Tome.gg asserts that you, as the apprentice, must begin with accepting
        this hard truth:
        <span class="italic underline">that all external help (friends, family, colleagues, bosses, mentors) will
          only be effective on a strong foundation of your responsibility, accountability, and commitment to your
          personal growth</span>.
        This means that crafting your legendary tome of knowledge that is attuned to you begins with your
        ownership of this responsibility.
      </p>
      <p class="my-4 text-gray-500">
        You will do most of the legwork in reading a lot, writing and rewriting, and practicing your skills and
        communications with
        others.
      </p>
      <h2 class="text-2xl font-medium mb-4">Your resources <sup class="text-lime-500 text-sm">free</sup></h2>
      <p class="my-4 text-gray-500">
        Tome.gg provides information and guidance.
      </p>
      <p class="my-4 text-gray-500">
        <strong>Information</strong> - Tome.gg provides low-touch, personalized education by making highly relevant
        stories in tech and startups within
        reach through the <a href="https://docs.tome.gg" class="link">Tome.gg Library</a>.
      </p>
      <p class="my-4 text-gray-500">
        <strong>Guidance</strong> - Tome.gg supports this high-accountability, high-ownership mindset by providing
        guidance on best ways of learning
        through the <a href="https://protocol.tome.gg" class="link">Tome.gg Protocols</a>. You can read these
        instructions and practice it on your own or with a couple of
        friends.
      </p>
      <h2 class="text-2xl font-medium mb-4">Your community <sup class="text-sky-500 text-sm">alpha</sup></h2>
      <p class="my-4 text-gray-500">The next level of personalization comes with the Discord community: <a
          href="https://bit.ly/404zqIW" class="link">The Gaming Classroom</a>.</p>

      <p class="my-4 text-gray-500">As a community we gather together like-minded folks to talk about technology,
        education and learning,
        and casual and competitive gaming.</p>

      <p class="my-4 text-gray-500">As a community, we learn and grow together, hold each other accountable, and
        push each other to our best capabilities. We do this every step of the way with trust and respect
        as the foundations of our relationships.</p>

      <p class="my-4 text-gray-400 text-sm italic">
        The community of Tome.gg is always free to join. However, a subset of the
        Tome.gg community will have private access to services, tools, and learning
        resources.
        These resources will be accessible temporarily for free while we are currently
        in the alpha stage, but will later be made accessible only for Patrons:
        community members that are contributing to Tome.gg's platform and ecosystem
        through a monthly premium subscription.
      </p>


      <h2 class="text-2xl font-medium mb-4">Your mentors</h2>
      <p class="my-4 text-gray-500">
        At the highest level of personalization, you get your own personal mentor that provides
        either 1-on-1 coaching, or group coaching (3 apprentices at a time).
      </p>
      <p class="mt-4 mb-8 text-gray-400 text-sm italic">
        Coaching and mentoring is available as a paid service, and is sometimes
        made available through sponsorships and community events. Keep in touch in
        Discord to receive notifications on community events!
      </p>

      <hr />

      <div id="capture-form">
        <h2 class="text-2xl font-medium my-4">Registration</h2>
        <p class="my-4 text-gray-500">
          If everything sounds great, that's because we are pursuing greatness and excellence!
          We create a safe space for learning and growth,
          but to make this space safe to learning, there are costs (or responsibilities) that we have to
          share and take part in. We will discuss this in the next section, which would be your responsibilities
          as an apprentice.
        </p>
      </div>

      <div id="next-qualifications">
        <h2 class="text-2xl font-medium my-4">Next: Qualifications</h2>
        <p class="my-4 text-gray-500">
          As a Tome.gg apprentice, you have a set of responsibilities that you must take ownership of
          so that you can carefully take care of yourself and your growth. The next section invites you
          to check whether you accept the standards and expectations expected of a good apprentice, as
          Tome.gg defines it.
        </p>
        <a href="#" (click)="toggleMentorNotes($event)" class="btn btn-outline m-2 text-gray-400">Apply as a mentor</a>
        <a href="/docs/onboarding/qualifications" class="btn btn-outline m-2">Next: Apprentice
          Qualifications</a>

        <div *ngIf="showMentorNotes" id="for-detailing"
          class="my-4 bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
          <div class="flex relative">
            <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
              </svg></div>
            <div>
              <p class="font-bold">Thank you for your interest! ✨ </p>
              <p class="text-sm">We're currently in the process of detailing the onboarding process for mentors as of
                the
                moment.
                Please <a class="link" (click)="openTawkChat()">send us a message</a> or reach out to us
                on <a class="link" href="https://bit.ly/3ynKg0m">Discord</a>!</p>
            </div>
            <a (click)="showMentorNotes = false">
              <span class="absolute top-0 bottom-0 right-0 pl-3 lg:pl-4 lg:py-3">
                <svg class="fill-current h-6 w-6 text-gray-500" role="button" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>