<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Qualifications</h1>
    <p class="text-center text-gray-400 italic mb-6">Published on July 28, 2023</p>
    <div class="prose lg:prose-xl mb-8">
      <picture class="mx-auto xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/mountain.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/mountain.jpg" type="image/jpeg">
        <img loading="lazy" class="mx-auto max-w-5/6 max-h-72 md:max-h-96 transition-[max-height] ease-in-out delay-150"
          src="/assets/mountain.jpg" alt="Image description" />
      </picture>
      <h2 class="text-2xl font-medium my-4">
        What are the characteristics of a good apprentice?
      </h2>
      <p class="my-4 text-gray-500">
        We talk about this topic in length in various areas. Temporarily, we shall
        use the following description as a summary of a good apprentice.
      </p>
      <blockquote class="border-l-4 border-blue-500 pl-4 py-2 my-4">
        <p class="text-gray-900 italic">
          Ultimately, a good apprentice is a curious practitioner of intellectual humility,
          is committed to their growth and direction, and is generous with their learnings.
        </p>
      </blockquote>
      <h2 class="text-2xl font-medium mb-4">Characteristics</h2>
      <p class="my-4 text-gray-500">
        Other people talk about what it means to be a good apprentice too. I'll place
        resource materials of accounts of good apprenticeships here.
      </p>
      <ul class="my-4 text-gray-500 list-disc list-inside">
        <li>Their curiosity drives them to read and ask questions a lot</li>
        <li>Their intellectual humility enables them to ask for feedback and opens them to better self-awareness</li>
        <li>Their generosity in sharing or teaching what they've learned demands that their communication reach high
          standards</li>
      </ul>
      <p class="my-4 text-gray-500">
        You may not have all of these characteristics as of the moment, but that is fine.
        What's important is you accept where you are currently in your progress and that
        you make a commitment to yourself for your growth. Choose a path, and take your
        steps forward.
      </p>
      <h2 class="text-2xl font-medium mb-4">Reading materials</h2>
      <ul class="mt-4 mb-8 text-gray-500 list-disc list-inside">
        <li><a class="link" href="https://docs.tome.gg/is-tome.gg-for-me">Is Tome.gg for me?</a></li>
      </ul>

      <a href="/docs/onboarding/" class="btn btn-outline m-2 text-gray-400">Back: Tome.gg Community</a>
      <a href="/docs/onboarding/booking" class="btn btn-outline m-2">Next: Find a Mentor</a>
    </div>
  </article>
</div>