<div class="hero min-h-screen bg-base-100 rounded-lg">
  <div class="hero-content flex-col lg:flex-col">
    <div class="flex flex-col md:flex-row">
      <picture class="max-w-2 rounded-full my-4 md:my-auto mx-auto md:mx-4">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
          class="w-32 rounded-full">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
          class="w-32 rounded-full">
        <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-32 rounded-full" />
      </picture>
    </div>
    <div class="px-3 text-center">
      <h1 class="text-4xl font-bold mt-4">Contact Us</h1>
      <h2 class="text-2xl italic mt-2">Hello there!</h2>
      <p class="mt-4 mt-4">
        Feel free to reach out to us on any of the channels below:
      </p>
      <ul class="mt-4 mx-auto italic text-gray-500 w-5/6">
        <li class="my-4">
          Send a message to <a class="link cursor" href="https://www.linkedin.com/in/darrensapalo/">Darren's
            LinkedIn</a>
        </li>
        <li class="my-4">
          Raise an issue in <a class="link cursor" href="https://bit.ly/3ynKg0m">our Discord Community</a>
        </li>
        <li class="my-4">
          Send us a Direct Message on <a class="link cursor" href="https://twitter.com/thetomegg">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</div>