<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
      <source loading="lazy" srcset="/assets/warehouse.webp" type="image/webp">
      <source loading="lazy" srcset="/assets/warehouse.jpg" type="image/jpeg">
      <img loading="lazy" src="/assets/warehouse.jpg" />
    </picture>

    <div class="px-3">
      <h1 class="text-4xl font-bold">Page not found</h1>
      <h2 class="text-2xl italic">There's nothing here.</h2>
      <p class="py-6">Wandering around is a great way to explore. Unfortunately,
        we found nothing here.
      </p>
      <a href="/" class="btn btn-outline">Visit home page</a>
    </div>
  </div>
</div>