<div class="card w-full bg-base-100 shadow-xl">
  <figure class="h-36 block">
    <img src="assets/stakes-generic.jpg" class="object-cover" alt="Gold coins" />
    <img src="assets/solana-logo-title-96-colored-black.svg" class="absolute w-4/5 mx-auto" alt="Solana logo" />
  </figure>
  <div class="card-body">
    <h1 class="text-3xl font-bold">Stake</h1>
    <p>
      Now that you've specified your Session Frequency preference, let's propose some stake.
    </p>
    <p>
      A "stake" is
      what you offer as a guarantee that you will do your share of the responsibilities. If you
      fail to fulfill your end of the bargain, then you lose your stake. The same goes for your mentor,
      should they fail to regularly attend your meetings.
    </p>
    <h2 class="card-title">Apprentice stake</h2>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">SOL failure stake</span>
      </label>
      <label class="input-group">
        <input type="number" placeholder="1" class="input input-bordered w-full max-w-xs" />
        <span>SOL</span>
      </label>

      <label class="label">
        <span class="label-text-alt italic">
          When the apprentice fails as defined above, the mentor receives the defined stake amount.
        </span>
      </label>
    </div>
    <h2 class="card-title">Mentor stake</h2>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">SOL failure stake</span>
      </label>
      <label class="input-group">
        <input type="number" placeholder="5" class="input input-bordered w-full max-w-xs" />
        <span>SOL</span>
      </label>
      <label class="label">
        <span class="label-text-alt italic">
          When the mentor fails to fulfill the commitment to the session frequency, the apprentice receives the defined
          stake amount.
        </span>
      </label>
    </div>
    <app-state-selector [isAlignmentComplete]="alignment?.isComplete" [state]="alignment?.stakesState" property="stakes"
      (stateSelectedEvent)="setStakesState($event)"></app-state-selector>
    <span class="text-xs text-info">These are part of the mock data, showing an example of what it would look like when
      you propose changes to the existing mentoring engagement. <a class="link"
        href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md">Read more</a>.</span>
  </div>
</div>