<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
      <source loading="lazy" srcset="/assets/books.webp" type="image/webp">
      <source loading="lazy" srcset="/assets/books.jpg" type="image/jpeg">
      <img loading="lazy" src="/assets/books.jpg" />
    </picture>

    <div class="px-3">
      <h1 class="text-4xl font-bold">Tome.gg Library</h1>
      <h2 class="text-2xl italic">For free, for everyone.</h2>
      <p class="py-6">We collect resources from external websites that we've reviewed and highly recommend to the
        Tome.gg community.
      </p>
      <a href="https://docs.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-outline mr-3 mb-3">Browse Library</a>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">

    <div class="px-3">
      <h1 class="text-4xl font-bold">Tome.gg Protocol</h1>
      <h2 class="text-2xl italic">For free, for everyone.</h2>
      <p class="py-6">We believe that the best ways of learning and growing are meant to be shared freely, advancing
        human
        society in ways that open-source and global collaboration never imagined. Tome.gg's protocols are open and free
        to the public to support accessibility to education.
      </p>
      <a href="https://protocol.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-outline mr-3 mb-3">Read Protocols</a>
    </div>
    <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
      <source loading="lazy" srcset="/assets/pathway.webp" type="image/webp">
      <source loading="lazy" srcset="/assets/pathway.jpg" type="image/jpeg">
      <img loading="lazy" src="/assets/pathway.jpg" />
    </picture>

  </div>
</div>
<div class="grid xs:grid-cols-1 md:grid-cols-3 gap-x-0 gap-y-8 md:gap-8 md:w-4/5 mx-auto">
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96">
      <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/books.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/books.jpg" type="image/jpeg">
        <img loading="lazy" src="/assets/books.jpg" class="object-cover" alt="Shoes" />
      </picture>
    </figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Tome.gg Library</h2>
      <p>We collect resources from external websites that we've reviewed and highly recommend to the Tome.gg community.
      </p>
      <a href="https://docs.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">View Library</a>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96">
      <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/pathway.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/pathway.jpg" type="image/jpeg">
        <img loading="lazy" src="/assets/pathway.jpg" class="object-cover" alt="Shoes" />
      </picture>
    </figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Tome.gg Protocol</h2>
      <p>We believe that the best ways of learning and growing are meant to be shared freely, advancing human
        society in ways that open-source and global collaboration never imagined.
      </p>
      <p>
        Tome.gg's protocols are open and free to the public to support accessibility to education.
      </p>
      <a href="https://protocol.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">View Protocols</a>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96">
      <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
        <source loading="lazy" srcset="/assets/comics.webp" type="image/webp">
        <source loading="lazy" srcset="/assets/comics.jpg" type="image/jpeg">
        <img loading="lazy" src="/assets/comics.jpg" class="object-cover" alt="Shoes" />
      </picture>
    </figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Awesome List of Mentors and Apprentices</h2>
      <p>There are various apprentices and mentors in various forms of media: characters like Professor Xavier,
        Luke Skywalker, The Doctor, Tony Stark, All Might, Saitama, and Kakashi.
      </p>
      <p>
        We collect all of this to review and analyze the different kinds of teaching methodologies,
        learning preferences, temperaments, and peculiarities of different characters in different universes...
        <strong>to enable you to describe and discover the right mentor for you</strong>.
      </p>
      <a href="https://github.com/tome-gg/AwesomeMentorsApprentices" class="btn btn-primary mr-3 mb-3">
        View Awesome Mentors
      </a>
    </div>
  </div>
</div>