<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col-reverse lg:flex-row-reverse">
    <picture class="rounded-lg shadow-2xl">
      <source class="w-72 md:w-96" loading="lazy" srcset="/assets/books.webp" type="image/webp">
      <source class="w-72 md:w-96" loading="lazy" srcset="/assets/books.jpg" type="image/jpeg">
      <img class="w-72 md:w-96" loading="lazy" src="/assets/books.jpg" />
    </picture>

    <div class="px-3 w-5/6">
      <h1 class="text-2xl sm:text-4xl font-bold mt-4">Tome.gg Library</h1>
      <h2 class="text-xl sm:text-2xl italic">For free, for everyone.</h2>
      <p class="py-6">We put in the effort to collect top-quality resources from the internet
        (blog articles, guides, career advice, stories, maps, mental models),
        review and personalize it for mid- to senior-level software engineers.
        Then we study them together in the Tome.gg community.
      </p>
      <a href="https://docs.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-outline mr-3 mb-3">Browse Library</a>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">

    <div class="px-3 w-5/6">
      <h1 class="text-2xl sm:text-4xl font-bold mt-4">Tome.gg Protocol</h1>
      <h2 class="text-xl sm:text-2xl italic">For free, for everyone.</h2>
      <p class="py-6">We believe that the best ways of learning and growing are meant to be shared freely, advancing
        human
        society in ways that open-source and global collaboration never imagined. Tome.gg's protocols are open and free
        to the public to support accessibility to education.
      </p>
      <a href="https://protocol.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-outline mr-3 mb-3">Read Protocols</a>
    </div>
    <picture class="rounded-lg shadow-2xl">
      <source class="w-72 md:w-96" loading="lazy" srcset="/assets/pathway.webp" type="image/webp">
      <source class="w-72 md:w-96" loading="lazy" srcset="/assets/pathway.jpg" type="image/jpeg">
      <img class="w-72 md:w-96" loading="lazy" src="/assets/pathway.jpg" />
    </picture>

  </div>
</div>
<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col-reverse lg:flex-row-reverse">
    <picture class="rounded-lg shadow-2xl">
      <source class="w-72 md:w-96 object-cover" loading="lazy" srcset="/assets/comics.webp" type="image/webp">
      <source class="w-72 md:w-96 object-cover" loading="lazy" srcset="/assets/comics.jpg" type="image/jpeg">
      <img class="w-72 md:w-96 object-cover" loading="lazy" src="/assets/comics.jpg" alt="Shoes" />
    </picture>
    <div class="px-3 w-5/6">
      <h1 class="text-2xl sm:text-4xl font-bold mt-4">Awesome List of Mentors and Apprentices</h1>
      <h2 class="text-xl sm:text-2xl italic">For free, for everyone.</h2>
      <p class="py-6">There are various apprentices and mentors in various forms of media: characters like Professor
        Xavier,
        Luke Skywalker, The Doctor, Tony Stark, All Might, Saitama, and Kakashi.
      </p>
      <p class="py-6">
        We collect this body of knowledge to analyze different kinds of teaching
        methodologies, learning preferences, and temperaments
        <strong>to enable you to describe and discover the right mentor for you</strong>.
      </p>
      <a href="https://github.com/tome-gg/AwesomeMentorsApprentices" class="btn btn-outline mr-3 mb-3">View list</a>
    </div>
  </div>
</div>