<div id="growth-inventory" class="min-h-screen">
  <h2 class="text-2xl font-medium mt-16 mb-4">Growth Inventory Screening Assessment</h2>
  <div role="alert" class="alert w-fit py-2 px-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-4 w-4" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <span class="text-sm italic">Note: This is currently under construction and is not yet fully functional.</span>
  </div>
  <div>
    <div id="chat" class="chat chat-start mt-8">
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <picture class="">
            <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
              class="w-full rounded-full">
            <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
              class="w-full rounded-full">
            <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-full rounded-full" />
          </picture>
        </div>
      </div>
      <div *ngIf="pageState === 'question'" class="chat-bubble">{{currentQuestion.metadata.chatIntro}}</div>
      <div *ngIf="pageState === 'completed'" class="chat-bubble">Great job! You completed it!</div>
      <div *ngIf="pageState === 'loading'" class="chat-bubble">
        <div class="flex flex-row">
          <span>{{ currentQuestion.metadata.chatOutro }}</span>
          <svg class="animate-spin ml-2 mr-2 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <app-multiple-choice-question *ngIf="pageState !== 'completed'" [questionTitle]="currentQuestion.title"
    [subtitle]="currentQuestion.subtitle" [choices]="currentQuestion.choices" (onSelectAnswer)="selectAnswer($event)" />

  <div *ngIf="pageState === 'completed'">
    <div>
      <h1 class="text-2xl font-medium mt-8 mb-4">Results</h1>
    </div>
    <p class="mb-4">Based on your answers, this screening assessment<sup>1</sup> found
      the presence of some markers<sup>2</sup> detailing your areas of growth:</p>
    <ul class="list-disc">
      <li>Mentor intimidation</li>
      <li>Presence of bad growth habits</li>
      <li>Lack of confidence</li>
      <li>Uncertainty in direction</li>
    </ul>

    <p class="text-gray-400 text-sm italic mt-8">
      <sup>1</sup>For a more
      detailed report, we provide a comprehensive assessment in our apprentice's
      Tome of Knowledge (or growth report) to measure these markers more precisely
      in the following dimensions: frequency, intensity, importance, and urgency.
      This service is available in the <a class="link cursor" href="/services/accountability">Tome.gg accountability
        program</a>, the basic and most accessible program we provide. You may book
      this service in the service page or click next on the booking section below.
    </p>
    <p class="text-gray-400 text-sm italic mt-8">
      <sup>2</sup>Note that this screening assessment is not a high-confidence
      diagnosis or an exhaustive list. This screening assessment does not measure frequency,
      intensity, or confidence level in the diagnosis of the issues. It merely
      records the presence of symptoms or markers which highlights the potential
      underlying issues.
    </p>
  </div>
</div>