<div [ngSwitch]="currentState">
  <ng-container *ngSwitchCase="'unset'" [ngTemplateOutlet]="unset">
  </ng-container>
  <ng-container *ngSwitchCase="'viewing'" [ngTemplateOutlet]="alignment">
  </ng-container>
  <ng-container *ngSwitchCase="'editing'" [ngTemplateOutlet]="alignment">
  </ng-container>
  <ng-container *ngSwitchCase="'disconnected'" [ngTemplateOutlet]="disconnected">
  </ng-container>
</div>

<ng-template #unset>
  <div class="grid grid-cols-1 gap-4 md:w-4/5 mx-auto">
    <div class="card w-full bg-base-100 shadow-xl p-4">
      <figure class="h-36"><img src="assets/negotiation.jpg" class="object-cover"
          alt="Two individuals co-writing a contract" /></figure>
      <h2 class="card-title mt-8">You are now connected!</h2>

      <div class="card-content">
        <div class="mb-8">
          <span>You have authorized the following wallet: </span>
          <code class="wallet text-xs md:text-base">{{ userWalletPublicKey }}</code>
        </div>
        <h2 class="card-title mt-8">View alignment negotiation</h2>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Which Alignment Negotiation do you want to view?</span>
          </label>
          <input type="text" maxlength="44" placeholder="Alignment Negotiation Public Key"
            [value]="alignmentNegotiationPublicKey" class="input input-bordered w-full" />
          <label class="label">
            <span class="label-text-alt">
              Alignment negotiation is a process in mentoring where one party proposes
              changes to the mentoring agreement, sets clear conditions for failure,
              outlines potential solutions, and defines the stakes for both parties.
              <a href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md" class="link">Read more</a>.
            </span>
          </label>
        </div>
        <div class="btn btn-default mb-8 mr-4"
          (click)="alignmentNegotiationPublicKey = 'FoCioVgvxe7WirMRmMeh7zni6bgBofbBMLCP2aJTA2hq'">View finished
          alignment example</div>
        <div class="btn btn-primary mb-8 mr-4" (click)="view()">View alignment</div>

        <h2 class="card-title mb-4">Set up new alignment negotiation</h2>
        <p class="text">

        </p>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Who is your mentor?</span>
          </label>
          <input type="text" placeholder="Mentor Public Key" [value]="mentorWalletPublicKey"
            class="input input-bordered w-full" />
          <label class="label">
            <span class="label-text-alt">
              Ask your Mentor for their Solana Wallet Public Key, which will be what they'll use to interact with you.
              <a href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md" class="link">Read more</a>.
            </span>
          </label>
        </div>

        <a class="btn btn-primary" (click)="setup()">Initiate alignment</a> <BR />
        <span class="text-xs text-info">The initiate alignment operation <span class="strong underline">does not work
            yet</span>,
          but
          it will allow you to proceed to see the negotiation form. You can check the <a class="link"
            href="https://github.com/tome-gg/negotiation-protocols/blob/master/tests/alignment-negotiation.ts">anchor
            tests</a> to see the full
          interaction, or
          <a class="link" href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md">read more</a> about the
          current MVP limitations.</span>
        <BR /><BR />
        <span class="text-xs italic">Unfortunately, we only support Phantom wallet for now.</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #disconnected>
  <div class="grid grid-cols-1 gap-4 my-4">
    <div class="card w-full bg-base-100 shadow-xl p-4">
      <figure class="h-36"><img src="assets/negotiation.jpg" class="object-cover"
          alt="Two individuals co-writing a contract" /></figure>
      <h2 class="card-title mt-8">You are currently disconnected.</h2>
      <div class="card-content">
        <p class="mb-8">To begin the demo, please connect with your Phantom wallet below.</p>
        <div class="btn btn-primary" (click)="connect()">Connect wallet</div>
        <BR /><BR />
        <span class="text-xs italic">Unfortunately, we only support Phantom wallet for now.</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #alignment>
  <div class="grid grid-cols-1 md:grid-cols-6 gap-4 md:w-4/5 mx-auto">

    <app-term-and-protocol-selector #termAndProtocolSelector class="md:col-span-4 md:col-start-3"
      (protocolSelectedEvent)="setProtocol($event)" (termSelectedEvent)="setTerm($event)"
      [alignmentNegotiationPublicKey]="alignmentNegotiationPublicKey" [alignment]="alignmentNegotiation">


    </app-term-and-protocol-selector>
    <app-parameters-selector class="md:col-span-4 md:col-start-3" (parametersSelectedEvent)="setParameters($event)"
      [alignment]="alignmentNegotiation">

    </app-parameters-selector>

    <app-stakes-selector class="md:col-span-4 md:col-start-3" (stakesSelectedEvent)="setStakes($event)"
      [alignment]="alignmentNegotiation">

    </app-stakes-selector>

    <app-mentoring-objective-card class="md:col-span-2 col-start-1 row-start-1 md:sticky md:top-4">
      <label for="login-credentials" class="btn">View credentials</label>
    </app-mentoring-objective-card>
    <app-summary-card *ngIf="alignmentNegotiation?.isComplete === false" class="md:col-span-4 md:col-start-3"
      [alignment]="alignmentNegotiation" [isDirty]="isDirty">

    </app-summary-card>


    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="login-credentials" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">You are authenticated with wallet address:</h3>
        <p class="py-4">
          <code class="wallet text-xs md:text-base">{{ userWalletPublicKey }}</code>
        </p>
        <p class="text-xs">
          If you wish to log in using a different wallet, please use the Phantom app to switch your wallet,
          and then refresh the page!
        </p>
        <div class="modal-action">
          <label for="login-credentials" class="btn btn-error" (click)="disconnect()">Disconnect</label>
          <label for="login-credentials" class="btn">Okay</label>
        </div>
      </div>
    </div>

  </div>
</ng-template>