<div class="grid grid-cols-1 md:grid-cols-6 gap-4 md:w-4/5 mx-auto">
  <app-term-and-protocol-selector class="md:col-span-4 md:col-start-3" (protocolSelectedEvent)="setProtocol($event)"
    (termSelectedEvent)="setTerm($event)">

  </app-term-and-protocol-selector>
  <app-parameters-selector class="md:col-span-4 md:col-start-3">

  </app-parameters-selector>

  <app-stakes-selector class="md:col-span-4 md:col-start-3">

  </app-stakes-selector>

  <app-mentoring-objective-card class="md:col-span-2 col-start-1 row-start-1 md:sticky md:top-4">

  </app-mentoring-objective-card>
  <app-summary-card class="md:col-span-4 md:col-start-3">

  </app-summary-card>
</div>