<div class="bg-white w-full">
  <article class="p-8 lg:max-w-4xl mx-auto">
    <h1 class="text-center text-4xl font-bold mb-4">Mentorship</h1>
    <p class="my-4 text-gray-500 text-sm italic text-center">
      Welcome, Tome.gg Apprentice! What would you like to do?
    </p>
    <div class="flex flex-col md:flex-row">
      <div class="p-4">
        <a href="#" class="text-gray-400 text-sm cursor">
          <picture class="m-4 max-w-md md:max-w-lg rounded-lg">
            <source loading="lazy" srcset="/assets/mentoring.webp" type="image/webp">
            <source loading="lazy" srcset="/assets/mentoring.jpg" type="image/jpeg">
            <img loading="lazy" class="md:max-w-5/6 max-h-60 md:max-h-72" src="/assets/mentoring.jpg"
              alt="Image description" />
          </picture>
          <p class="text-xl font-semibold text-sky-700">Create new mentorship engagement</p>
          <p class="italic ">Define your preferences and search criteria</p>
        </a>
      </div>

      <div class="p-4">
        <a href="#" class="text-gray-400 text-sm cursor">
          <picture class="m-4 max-w-md md:max-w-lg rounded-lg">
            <source loading="lazy" srcset="/assets/negotiation.webp" type="image/webp">
            <source loading="lazy" srcset="/assets/negotiation.jpg" type="image/jpeg">
            <img loading="lazy" class="md:max-w-5/6 max-h-60 md:max-h-72" src="/assets/negotiation.jpg"
              alt="Image description" />
          </picture>
          <p class="text-xl font-semibold text-sky-700">Negotiate terms</p>
          <p class="italic ">Negotiate terms on an existing mentorship engagement</p>
        </a>
      </div>
    </div>
    <div class="prose lg:prose-xl my-8">
      <div id="next-qualifications">
        <h2 class="text-2xl font-medium mb-4">What is mentorship?</h2>
        <p class="my-4 text-gray-500">
          At its core, mentorship is a relationship. Mentorship is about people.
        </p>
        <p class="my-4 text-gray-500">
          At its highest form, mentorship is an intimate relationship. It
          is about connecting with people and uplifting them, taking
          part in their journey to a safe, sustainable, fully-lived, and meaningful life.
        </p>
        <h2 class="text-2xl font-medium mb-4">How do I make my relationships thrive?</h2>
        <p class="my-4 text-gray-500">
          All relationships are founded on a mutual agreement of trust and respect.
        </p>
        <p class="my-4 text-gray-500">
          Just like in any kind of relationship, mentorship has its ups and downs,
          it experiences miscommunications, it evolves, it changes, it bears fruit,
          it dies, and a new life is born from the next seeds it sows.
          Just as a relationship requires hard work
          on both parties sharing in the responsibilities to make it thrive,
          relationships subsist on good communication and affording each
          other space to make mistakes.
        </p>
        <p class="my-4 text-gray-500">
          We have a distinct method, style, and philosophy of mentorship as
          described in our Tome.gg Protocols. Feel free to check it out at your leisure.
        </p>

        <p class="my-4 text-gray-400 text-sm">
          Mentorship can be a scary thing to explore, especially if you have
          unanswered questions or fears and uncertainties that are overwhelming.

          Feel free to <a href="#" (click)="openTawkChat()" class="link">reach
            out to us</a> and express your concerns or ask questions.
          Use a pseudonym and throwaway mailinator email if you prefer.
        </p>
        <a href="https://protocol.tome.gg/formats/standard-mentorship" class="btn btn-outline m-2">Read about Tome.gg
          Mentorship</a>
      </div>
    </div>
  </article>
</div>