<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/assets/negotiation.jpg" class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-4xl font-bold">Pleasant mentoring,<br /> efficient negotiating</h1>
      <h2 class="text-2xl italic">For mid- to senior-level software engineers.</h2>
      <p class="py-6">
        Requesting for a mentoring engagement and negotiating its details doesn't have to
        be scary or full of unknowns. <strong>Tome.gg</strong> fills in the gap.
      </p>
      <a href="/alignment" class="btn btn-primary">View Demo</a>
    </div>
  </div>
</div>

<div class="my-16">
  <div class="card bg-base-100 shadow-xl max-w-md md:max-w-xl mx-auto">

    <div class="card-body items-center text-center">
      <iframe class="w-full max-w-lg" height="325" src="https://www.youtube-nocookie.com/embed/rAsr5YidFag"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <h2 class="card-title mt-8">What is an Alignment Negotiation?</h2>
      <p>Watch the above presentation, or <a href='https://youtu.be/rAsr5YidFag?t=167' class="link">go straight to the
          demo</a>.</p>
    </div>
  </div>
</div>
<div class="grid xs:grid-cols-1 md:grid-cols-3 gap-x-0 gap-y-8 md:gap-8 md:w-4/5 mx-auto">
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-72"><img src="/assets/whitepaper.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">What is Tome.gg?</h2>
      <p>Tome.gg is a coaching/mentoring platform for mid- to senior-level software engineers.</p>
      <p>Want a deep dive to understand what challenges we're up against, what community we're serving, and how we
        define our problem? Check out our whitepaper.</p>
      <div class="card-actions justify-end">
        <a href="https://github.com/tome-gg/whitepaper/blob/main/main.pdf?utm_source=tomegg&utm_medium=banner&utm_campaign=app_reference"
          class="btn">Read whitepaper</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/mentoring.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">How do I get a mentor?</h2>
      <p>Mentorship is a very engaged and personal process, and it takes time to discover what mentorship parameters
        work for you.
        Tome.gg has variety of mentors in its mentor pool.</p>
      <p>
        Interested to learn how to become a mentor? Tome.gg also trains mentors and
        coaches in the Tome.gg mentor community.
      </p>
      <div class="card-actions justify-end">
        <a href='http://bit.ly/3ynKg0m' class="btn">Meet mentors on Discord</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/negotiation.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">How do I negotiate mentorship terms?</h2>
      <p>It can be difficult and overwhelming to figure out what your options are when negotiating different terms with
        your mentor.
      </p>
      <p>
        Tome.gg built negotiation protocols using Solana smart contracts, to enable you and your mentor to quickly
        iterate your negotiations, explore what can be a mutually beneficial arrangement, or help you both discern
        whether
        to disengage.</p>
      <div class="card-actions justify-end">
        <a href="/alignment" class="btn btn-primary">View Demo</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/growth.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">What does a Tome.gg Growth Journal look like?</h2>
      <p>
        Your growth journal content and metacontent is stored in YAML format in a public GitHub
        repository owned by you, where you have full authority to grant and revoke
        read/write access to past, present, and future mentors that you will engage with.
        This growth journal is what the smart contract interacts with automatically
        to evaluate your performance.
      </p>
      <p>Check out our growth journal's generated public template to see how Tome.gg mentors are in involved in guiding
        you in your direction setting and growth- personalized specifically for you.</p>
      <div class="card-actions justify-end">
        <a href='/assets/growth-report.pdf' class="btn">See growth journal</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/designs.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">This looks super cool! What else can I check out?</h2>
      <p>I'm super glad you like it! General ideas and planning is on the whitepaper, but if you're curious
        from a user perspective, you can check out some initial designs I have on Figma, or read mental models
        I've written for software engineers on my blog.
      </p>
      <div class="card-actions justify-end">
        <a href="https://www.figma.com/file/WtPKLAvprLde5ZyFOxgWqu/Tome.gg?node-id=0%3A1&t=6HVPCFAxaDP1V7UV-1"
          class="btn">View Figma</a>
        <a href="https://sapalo.dev/2020/08/26/prioritization?utm_source=tomegg&utm_medium=front_page&utm_campaign=app_reference"
          class="btn hidden sm:flex">
          Priorities of a software engineer
        </a>
        <a href="https://sapalo.dev/2020/08/26/prioritization?utm_source=tomegg&utm_medium=front_page&utm_campaign=app_reference"
          class="btn flex sm:hidden">
          Priorities
        </a>
        <a href="https://sapalo.dev/2020/01/28/the-mountain?utm_source=tomegg&utm_medium=front_page&utm_campaign=app_reference"
          class="btn">Growing sustainably</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/tgc-gaming.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">What does transfer learning mean?</h2>
      <p>In Tome.gg, we leverage transfer learning to teach our students rapidly. It leverages a shared schema, model,
        or
        understanding to communicate quickly and efficiently. Simply put, it is what we do when we make analogies.
      </p>
      <p>
        Tome.gg has some learning content transferred from games to software development. You can check that out!</p>
      <div class="card-actions justify-end">
        <a href="https://dota2.tome.gg?utm_source=tomegg&utm_medium=banner&utm_campaign=app_reference" class="btn">Dota
          2 by Tome.gg</a>
        <a href="https://www.youtube.com/@thegamingclassroom?utm_source=tomegg&utm_medium=footer&utm_campaign=app_reference"
          class="btn">@TheGamingClassroom</a>
      </div>
    </div>
  </div>
</div>