<div class="card w-full bg-base-100 shadow-xl">
  <figure class="md:h-72 xs:h-32"><img src="assets/negotiation.jpg" class="object-cover" alt="Shoes" /></figure>
  <div class="card-body">
    <h1 class="text-3xl font-bold">Alignment Negotiation</h1>
    <a target="_blank"
      href="https://explorer.solana.com/address/{{alignmentNegotiationPublicKey}}/anchor-account?cluster=devnet"
      class="text-xs link">View this alignment negotiation on Solana Explorer</a>
    <h2 class="card-title">Term and Protocol</h2>
    <div class="form-control w-full max-w-md indicator">
      <span class="indicator-item badge hidden md:inline">Required</span>
      <label class="label">
        <span class="label-text">Which mentoring term do you want to negotiate?</span>
      </label>
      <span class="text-xs italic inline md:hidden m-2">This field is <span class="text-error">required</span>.</span>
      <select class="select select-bordered indicator w-full" (change)="selectTerm($event.target)">
        <option *ngFor="let term of negotiationTerms" [disabled]="term.disabled" [selected]="term.selected"
          [value]="term.value">
          {{term.label}}
        </option>
      </select>
      <label class="label">
        <span class="label-text-alt italic">A mentoring term is an aspect or characteristic of the mentoring engagement.
          <a href='https://github.com/tome-gg/alignment/blob/master/docs/faq.md' class="link">Read
            more</a>.</span>
      </label>
    </div>

    <app-state-selector [state]="alignment?.termState" [isAlignmentComplete]="alignment?.isComplete"
      property="Mentoring term" (stateSelectedEvent)="setTermState($event)"></app-state-selector>

    <div class="form-control w-full max-w-md">
      <label class="label">
        <span class="label-text">Which negotiation protocol do you want to use?</span>
      </label>
      <select class="select select-bordered" (change)="selectProtocol($event.target)">
        <option *ngFor="let protocol of protocols" [disabled]="protocol.disabled" [selected]="protocol.selected"
          [value]="protocol.value">
          {{protocol.label}}
        </option>
      </select>
      <label class="label">
        <span class="label-text-alt italic">A negotiation protocol is a smart contract implemented and enforced on
          Solana, fulfilling the parameters of the negotiation. <a
            href='https://github.com/tome-gg/alignment/blob/master/docs/faq.md' class="link">Read
            more</a>.</span>
      </label>
    </div>

    <app-state-selector [state]="alignment?.protocolState" [isAlignmentComplete]="alignment?.isComplete"
      property="Negotiation protocol" (stateSelectedEvent)="setProtocolState($event)"></app-state-selector>
  </div>
</div>