<div id="main" class="p-2 grid grid-cols-4 gap-3">
  <div class=" bg-slate-200 section col-span-4 h-14">
    <h1 class="text-2xl font-bold">Mentorship Canvas</h1>
  </div>
  <div class="bg-slate-200 section col-start-1 col-span-1">
    <label>Activities</label>
    <p>Hello world</p>
  </div>
  <div class="bg-slate-200 section col-start-2 row-span-2 col-span-2 flex flex-col justify-between">
    <label>Value</label>
    <p class="grow">Hello world</p>

    <div id="value" class="p-2 grid grid-cols-2">
      <div class="section">
        <label>Skills</label>
        <p>Hello world</p>
      </div>
      <div class="section">
        <label>Knowledge</label>
        <p>Hello world</p>
      </div>
      <div class="section">
        <label>Expertise</label>
        <p>Hello world</p>
      </div>
      <div class="section">
        <label>Guidance</label>
        <p>Hello world</p>
      </div>
      <div class="section col-span-2">
        <label>Feedback</label>
        <p>Hello world</p>
      </div>
    </div>


  </div>
  <div class="bg-slate-200 section col-start-4 col-span-1">
    <label>Relationship</label>
    <p>Hello world</p>
  </div>
  <div class="bg-slate-200 section col-start-1 col-span-1">
    <label>Resources</label>
    <p>Hello world</p>
  </div>
  <div class="bg-slate-200 section col-start-4 col-span-1">
    <label>Channels</label>
    <p>Hello world</p>
  </div>
</div>