<div id="main" class="p-2">
  <div class="md:grid xs:flex xs:flex-col md:grid-cols-4 gap-3">
    <div class=" bg-slate-200 section col-span-4 min-h-24">
      <h1 class="text-2xl font-normal pb-2">Mentorship Canvas</h1>
      <span>
        The Mentorship Canvas is a reflection tool (for your self) and communication tool (for others) that helps you
        understand your apprenticeship needs and preferences, enabling you to align with your mentor more effectively.

        <a class="link" href="https://docs.tome.gg/onboarding">Make your own using Tome.gg</a>.
      </span>
    </div>
    <div class="bg-slate-200 h-96 section col-start-1 col-span-1">
      <label class="font-medium">Activities</label>
      <p>Hello world</p>
    </div>
    <div class="bg-slate-200 h-full section col-start-2 md:row-span-2 md:col-span-2 flex flex-col justify-between">
      <label class="font-medium">Value</label>
      <p class="grow">Hello world</p>

      <div id="value" class="md:p-2 md:grid md:grid-cols-2 xs:flex xs:flex-col">
        <div class="section">
          <label class="sub font-medium">Skills</label>
          <p>Hello world</p>
        </div>
        <div class="section">
          <label class="sub font-medium">Knowledge</label>
          <p>Hello world</p>
        </div>
        <div class="section">
          <label class="sub font-medium">Expertise</label>
          <p>Hello world</p>
        </div>
        <div class="section">
          <label class="sub font-medium">Guidance</label>
          <p>Hello world</p>
        </div>
        <div class="section col-span-2">
          <label class="sub font-medium">Feedback</label>
          <p>Hello world</p>
        </div>
      </div>


    </div>
    <div class="bg-slate-200 h-96 section col-start-4 col-span-1">
      <label class="font-medium">Relationship</label>
      <p>Hello world</p>
    </div>
    <div class="bg-slate-200 h-96 section col-start-1 col-span-1">
      <label class="font-medium">Resources</label>
      <p>Hello world</p>
    </div>
    <div class="bg-slate-200 h-96 section col-start-4 col-span-1">
      <label class="font-medium">Channels</label>
      <p>Hello world</p>
    </div>
  </div>
</div>