<div id="main" class="min-h-screen">
  <div id="ai-header">
    <div class="mx-auto mb-2 bg-white p-2 rounded w-full sm:w-5/6 lg:w-3/4 flex flex-row">
      <h1 class="font-bold align-baseline">Ink
        <span class="mb-2 text-gray-600 text-sm">v0.1.0</span> &nbsp;
        <span class="mb-2 text-gray-400 text-sm font-medium">by
          <a href="/" class="link cursor">Tome.gg</a>
        </span>
      </h1>
      <span class="hidden ml-auto my-auto text-xs text-right text-gray-400 align-baseline sm:flex">Currently logged in
      </span>
      <span class="sm:ml-1 ml-auto my-auto text-xs text-right text-gray-400 align-baseline">
        as <i>{{ user.username }}</i></span>
    </div>

    <div role="alert"
      class="alert alert-warning bg-gray-700 text-white sm:w-5/6 lg:w-3/4 text-xs mx-auto my-2 flex flex-col sm:flex-row gap-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
      <p class="mx-2 inline">Hi there! This is currently a preview of the user interface for Ink AI.
        <span class="hidden sm:inline">It is currently not yet functional, and is undergoing development. </span>
        Click here to <a class="link cursor" href="https://waitlist.tome.gg/ink">Join the
          waitlist!</a>
      </p>
    </div>

  </div>
  <div class="flex-col rounded-lg">
    <div class="mx-auto flex-col bg-white p-4 w-full sm:w-5/6 lg:w-3/4">
      @for (msg of messages; track $index) {
      @switch (msg.type) {
      @case ('ai'){
      <div class="chat chat-start mr-auto my-2">
        <div class="chat-image w-12 mask mask-hexagon object-cover">
          <img alt="ai" src="{{ msg.user.imageUrl }}" />
        </div>
        <div class="chat-header">
          {{ msg.user.username }}
          <time class="text-xs opacity-50">{{ parseTime(msg.timestamp) }}</time>
        </div>
        <div class="chat-bubble text-sm" [innerHTML]="msg.message">
        </div>
      </div>
      }
      @case ('ai_thought') {
      <div class="chat chat-start mr-auto my-2">
        <div class="chat-image w-12 mask mask-hexagon object-cover">

          <img alt="ai" src="{{ msg.user.imageUrl }}" />
        </div>
        <div class="chat-header">
          {{ msg.user.username }}
          <time class="text-xs opacity-50">{{ parseTime(msg.timestamp) }}</time>
        </div>
        <div class="chat-bubble text-sm opacity-25 text-white">
          {{ msg.message }}
        </div>
        <div class="chat-footer chat-thought-label opacity-50">
          Thought
        </div>
      </div>
      }
      @case ('peer') {
      <div class="chat chat-start mr-auto my-2">
        <div class="chat-image avatar">
          <div class="w-12 rounded-full">
            <img alt="user" src="{{ msg.user.imageUrl }}" />
          </div>
        </div>
        <div class="chat-header">
          {{ msg.user.username }}
          <time class="text-xs opacity-50">{{ parseTime(msg.timestamp) }}</time>
        </div>
        <div class="chat-bubble text-sm" [innerHTML]="msg.message">
        </div>
      </div>
      }
      @case ('user') {
      <div class="chat chat-end ml-auto">
        <div class="chat-image avatar">
          <div class="w-12 rounded-full">
            <img alt="user" src="{{ msg.user.imageUrl }}" />
          </div>
        </div>
        <div class="chat-header">
          {{ msg.user.username }}
          <time class="text-xs opacity-50">{{ parseTime(msg.timestamp) }}</time>
        </div>
        <div class="chat-bubble text-sm" [innerHTML]="msg.message">
        </div>
        <div class="chat-footer opacity-50">

        </div>
      </div>
      }
      }
      }
    </div>





    <!-- User input -->
    <div class="mx-auto flex-col bg-white p-4 w-full sm:w-5/6 lg:w-3/4">
      <div class="flex flex-row justify-center items-center">
        <textarea class="textarea textarea-bordered w-full" rows="1" placeholder="Start anywhere, and ask."></textarea>
        <button class="btn btn-sm m-4 px-4">
          Send
        </button>
      </div>
    </div>
  </div>
</div>