<div class="hero min-h-screen w-full bg-base-100 flex flex-col mb-8">
  <div class="my-12 w-5/6 col-span-3">
    <h1 class="text-4xl text-center font-bold mb-2">Accountability Program</h1>
    <h2 class="text-2xl text-center italic">More action. Less thinking.</h2>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      Who benefits the most from accountability programs?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>People who have already have a clear understanding of their problem and solutions. They struggle with the
        'doing' part.</li>
      <li>
        People who think "I know what the problem is and I know what I'm supposed to do. I just don't do it."
      </li>
      <li>
        People who are clear with their motivations for developing these software engineering skills, but struggle to
        get started with or completing work.
      </li>
      <li>
        People who struggle with the skill of estimation and practicing confidence levels.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      What kinds of results does the accountability programs achieve?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>
        You learn from your mentors how to plan and set goals better.
      </li>
      <li>
        You achieve the manageable, realistic goals that you set.
      </li>
      <li>
        Begin with baby steps.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      How do we get started?
    </h2>
    <div class="mx-auto w-5/6">
      <a href="https://waitlist.tome.gg/discovery" class="btn btn-outline w-48 my-3">Find a mentor</a>
    </div>
  </div>
</div>