<div class="hero min-h-screen w-full bg-base-100 flex flex-col mb-8">
  <div class="my-12 w-5/6 col-span-3">
    <h1 class="text-4xl text-center font-bold mb-2">Group coaching</h1>
    <h2 class="text-2xl text-center italic">Learn with friends. Grow together.</h2>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      Who benefits the most from group coaching?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>People who want to learn with others, ask for help, and share in the learning journey.</li>
      <li>
        People who want access to great mentors at an affordable rate.
      </li>
      <li>
        People who want to challenge and compete against fellow peers.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      What kinds of results does the group coaching achieve?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>
        Gaining clarity on one's values and important goals- enabling greater strategy and optimization in learning.
      </li>
      <li>
        Gaining a broader picture in the career navigation in the tech space.
      </li>
      <li>
        Acquiring the necessary technological and professional literacy to recognize
        one's own mistakes and develop independent learning habits and skills.
      </li>
      <li>
        Being clear about the work-life balance that suits them.
      </li>
      <li>
        Learning to develop precise communication skills, in working with their
        mentors, team-leads, CEOs, CTOs, peers, and juniors.
      </li>
      <li>
        A more peaceful life that isn't plagued by impostor syndrome and dreading
        making mistakes.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      How do we get started?
    </h2>
    <p class="mt-2 mx-auto mb-8 italic text-gray-500 w-5/6">
      To take up a discovery and directions deep dive session, proceed with our onboarding
      and <a class='cursor link' href='/docs/onboarding'>Find a mentor</a>.
    </p>
  </div>
</div>