<div class="hero min-h-screen w-full bg-base-100 flex flex-col mb-8">
  <div class="my-12 w-5/6 col-span-3">
    <h1 class="text-4xl text-center font-bold mb-2">Interactive Case Studies</h1>
    <h2 class="text-2xl text-center italic">Role play. Nightmare scenarios. Unexpected situations.</h2>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      Who benefits the most from interactive case studies?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>
        People who have strong fundamental knowledge, but want to test their skills
        in a real-time, adaptive environment.
      </li>
      <li>
        People who want to learn software architecture and understand each and
        every flow of data and systems.
      </li>
      <li>
        People who want to learn strategies on how to diagnose and debug systems
        effectively and efficiently.
      </li>
      <li>
        People who want to learn about security and optimization failures.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      What kinds of results does the interactive case studies achieve?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>
        You learn to ask better questions.
      </li>
      <li>
        You learn to problem solve better, by focusing more on direction, strategy, and tactics
        rather than execution (e.g. typing, navigating the portal in your cloud provider,
        reading documentation, trial and error programming).
      </li>
      <li>
        You learn to recognize and be comfortable admitting when you don't know the answer.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      How do we get started?
    </h2>
    <div class="mx-auto w-5/6">
      <a href="https://waitlist.tome.gg/discovery" class="btn btn-outline w-48 my-3">Find a mentor</a>
    </div>
  </div>
</div>