<div class="hero min-h-screen w-full bg-base-100 flex flex-col mb-8">
  <div class="my-12 w-5/6 col-span-3">
    <h1 class="text-4xl text-center font-bold mb-2">One-on-one coaching</h1>
    <h2 class="text-2xl text-center italic">Personalized. To your taste. More you.</h2>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      Who benefits the most from 1-on-1 coaching?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>People who don't know what their professional options are and need time
        and details in exploring career options and focused support in evaluating
        different options.</li>
      <li>
        People who feel like they struggle to learn on their own and unsure about
        their feedback mechanisms
      </li>
      <li>
        People who have low levels of confidence, wondering 'what am I doing' and 'am I doing this right'?
      </li>
      <li>
        People who want to achieve clarity in directions in their career and professional life,
        and determining the work-life integration that suits them best.
      </li>
      <li>
        People who have felt a lack of support from team leads or in-company mentors- or have
        felt that these authority figures lack the humility to acknowledge their shortcomings.
      </li>
      <li>
        People who feel challenged or disappointed by the level of specificity, detail, and
        rigor from their existing mentors; feeling the need to seek access to greater mentors.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      What kinds of results does the 1-on-1 coaching achieve?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>Gaining clarity on one's values and important goals- enabling greater strategy and optimization in learning.
      </li>
      <li>
        Gaining a broader picture in the career navigation in the tech space.
      </li>
      <li>
        Acquiring the necessary technological and professional literacy to recognize
        one's own mistakes and develop independent learning habits and skills.
      </li>
      <li>
        Being clear about the work-life balance that suits them.
      </li>
      <li>
        Learning to develop precise communication skills, in working with their
        mentors, team-leads, CEOs, CTOs, peers, and juniors.
      </li>
      <li>
        A more peaceful life that isn't plagued by impostor syndrome and dreading
        making mistakes.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      How do we get started?
    </h2>
    <div class="mx-auto w-5/6">
      <a href="https://waitlist.tome.gg/discovery" class="btn btn-outline w-48 my-3">Find a mentor</a>
    </div>
  </div>
</div>