<div class="hero min-h-screen w-full bg-base-100 flex flex-col mb-8">
  <div class="my-12 w-5/6 col-span-3">
    <h1 class="text-4xl text-center font-bold mb-2">Rapid coaching</h1>
    <h2 class="text-2xl text-center italic">Short. More signal. Less noise.</h2>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      Who benefits the most from rapid coaching?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>People who have a clear idea of what they know and don't know.</li>
      <li>
        People who feel confident in their ability to communicate their specific needs,
        ask precise questions, and provide a sufficiently rich but concise contextual
        summary of their problem.
      </li>
      <li>
        People with strong communication skills, and confidence in their ability to explain.
      </li>
      <li>
        People who journal their investigation/analysis but have gotten stuck and not
        sure where they should go or what they should do next.
      </li>
      <li>
        People who don't need to be hand-held in solving a problem- they just need to be pointed in the right direction.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      What kinds of results does the rapid coaching achieve?
    </h2>
    <ul class="mt-4 list-disc mx-auto italic text-gray-500 w-5/6">
      <li>
        Quick consultations- immediate feedback.
      </li>
      <li>
        More economical option if pre-work and post-work is performed
        effectively and efficiently; but requires greater communication skill.
      </li>
      <li>
        Concise.
      </li>
    </ul>
    <h2 class="mt-4 text-xl italic mx-auto w-5/6">
      How do we get started?
    </h2>
    <div class="mx-auto w-5/6">
      <a href="/docs/onboarding" class="btn btn-outline w-48 my-3">Find a mentor</a>
    </div>
  </div>
</div>