<div class="card w-auto bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title font-bold text-3xl">1-on-1 Mentorship Tiers</h2>
    <p>Our mentors come from a diverse range of skill sets and backgrounds. We categorize them into three different
      tiers for you to choose from:</p>
    <h3 class="text-2xl">Tier A</h3>
    <p>Highly experienced mentors in their respective fields, best for those looking for advanced guidance and expert
      feedback.</p>
    <h3 class="text-2xl">Tier B</h3>
    <p>Mentors with a solid background in their fields and plenty of mentoring experience, perfect for those in the
      intermediate level.</p>
    <h3 class="text-2xl">Tier C</h3>
    <p>Newly skilled mentors who are eager to share their knowledge and grow with you, ideal for beginners starting
      their learning journey.</p>
    <button class="btn btn-primary mt-3">Apply to be a mentor</button>
  </div>
</div>