<div class="w-full bg-white py-4">
  <div class="md:mx-auto md:w-2/3 px-4">
    <div id="success" *ngIf="isSent" role="alert" class="alert alert-success mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Your application has been sent!</span>
    </div>
    <div *ngIf="!isSent">
      <h1>Application Process</h1>
      <p>Below is the application process for coaching and mentoring. As described in our onboarding process,
        our coaching and mentorship program starts with the Tome.gg discovery process.
      </p>
      <p>
        To ensure a successful discovery session, we have the following questions to ask.
      </p>
    </div>
  </div>
</div>
<div class="bg-white w-full pb-16 md:pb-32">
  <div *ngIf="isSent" class="md:mx-auto md:w-2/3 px-4">
    <h1>Your Application</h1>
  </div>
  <app-mdx-editor #journaleditor [original]="this.original" [isEditable]="isEditable" [value]="markdownContent"
    (onValueChange)="setValue($event)" />
  <div class="md:mx-auto md:w-2/3 py-4 px-4 grid justify-items-end">
    <button *ngIf="isSent === false" type="submit" (click)="sendData()"
      class="bg-gray-500 text-white font-bold my-4 py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
      Submit
    </button>
  </div>
</div>