<div class="card w-full bg-base-100 shadow-xl h-fit">
  <figure class="h-36 md:h-48"><img src="assets/software-engineer.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">General Objective</h2>
    <p>To become a senior software engineer, confident in leadership,
      management, and security.</p>
    <p class="text-sm italic">
      Note: The data on this page are merely static examples.
    </p>
    <div class="dropdown dropdown-top mx-0 my-4">
      <label tabindex="0" class="link">What is Alignment negotiation?</label>
      <div class="dropdown-content border border-dashed border-2 border-slate-600 bg-gray-100 px-4 py-2 rounded">
        <h2>What is Alignment negotiation? When do I use it?</h2>
        <p class="text-sm mt-4 italic">
          Once a mentoring agreement has already been established with a mentor, you can
          initiate an Alignment Negotiation. This allows both of you to discuss and change
          some terms about the mentoring agreement.
          <br /><br />
          In production, these data will be lifted from your growth journal which
          contains data about your growth, and metadata about your mentorship engagement.
        </p>
      </div>
    </div>
    <div class="dropdown dropdown-top mx-0 mb-4">
      <label tabindex="0" class="link">What is it for?</label>
      <div class="dropdown-content border border-dashed border-2 border-slate-600 bg-gray-100 px-4 py-2 rounded">
        <h2>What is it for?</h2>
        <p class="text-sm mt-4 italic">
          This alignment negotiation tool allows you to keep your mentoring engagement, to find
          acceptable compromises, and to discern if the mentoring engagement is still suitable
          for both of you.
        </p>
        <p class="text-sm mt-4 italic">
          Your reputation in both performance and negotiation is recorded publicly on the Solana blockchain.
          This goes the same way for your mentor.
          By clearly stating your expectations, enforcing your boundaries, and negotiating respectfully and
          collaboratively
          you both grow your reputation as apprentice and a mentor.
        </p>
      </div>
    </div>

  </div>
</div>