<div class="card w-full bg-base-100 shadow-xl h-fit">
  <figure class="h-36 md:h-48"><img src="assets/software-engineer.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">General Objective</h2>
    <p>To become a senior software engineer, confident in leadership,
      management, and security.</p>
    <p class="text-sm italic">
      Note: Some parts of the data on this page are static sample data.
      <a href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md" class="link">Read the FAQ</a>.
    </p>
    <ng-content></ng-content>
    <span class="text-xs text-info">The above described apprentice's general objective is part of the mock data,
      showing an example of objective from your personal mentoring engagement. <a class="link"
        href="https://github.com/tome-gg/alignment/blob/master/docs/faq.md">Read more</a>.</span>
  </div>
</div>