<div class="hero min-h-screen bg-base-100 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <a href="/docs/about" class="cursor">
      <picture class="max-w-xs rounded-full shadow-2xl">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
          class="max-w-xs rounded-full shadow-2xl">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
          class="max-w-xs rounded-full shadow-2xl">
        <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="max-w-xs rounded-full shadow-2xl" />
      </picture>
    </a>

    <div class="px-3 w-2/3">
      <h1 class="text-4xl font-bold">Tome.gg coaching <br />and mentoring</h1>
      <h2 class="text-2xl italic mt-4">For mid- to senior-level software engineers.</h2>
      <p class="pb-6 mt-8">
        <strong>Tome.gg</strong> provides a free library and frameworks for
        self-directed, sustainable learning.
      </p>
      <p class="pb-6">
        For those who are 100% serious and committed to their accelerated growth,
        we offer hyper-personalized 1-on-1 and group coaching and mentorship.
      </p>
      <p class="pb-6 text-sm text-gray-400 italic">
        Limited apprenticeship slots available.

      </p>
      <a href="/resources" class="btn btn-outline mr-3 mb-3">Access free resources</a>
      <a href="/docs/onboarding" class="btn btn-outline mr-3 mb-3">Find a mentor</a>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-100 my-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row">
    <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
      <source loading="lazy" srcset="/assets/negotiation.webp" type="image/webp">
      <source loading="lazy" srcset="/assets/negotiation.jpg" type="image/jpeg">
      <img loading="lazy" src="/assets/negotiation.jpg" />
    </picture>
    <div class="px-3">
      <h1 class="text-4xl font-bold">Freedom.</h1>
      <p class="py-6">
        We work with high-performing, growth-oriented <span id="current-income-range">5-figure</span>
        <span class="ml-1 underline">mid- to senior-level software engineers and tech consultants</span>
        and enable them to (a) land a <span id="target-income-range">6-figure</span> job;
        or (b) negotiate their promotion in one year <u>without feeling stuck</u> or
        <u>depending solely on available opportunities in their company</u>.
      </p>
      <p>
        Concrete outputs and results in 6 months- <strong>or your money back</strong>.
      </p>
      <p class="text-sm text-gray-400 mt-4">
        We're confident our program works- we've been doing this for years
        and have gathered results.
      </p>
      <div class="flex justify-center">
        <a href="/docs/onboarding" class="my-6 w-fit lg:w-96 btn btn-outline">I'm interested</a>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col bg-white px-4 py-12 my-8">
  <div class="italic text-2xl">
    <p class="text-center">
      "Reading makes a full man, writing an exact man, and discourse a ready
      man."
    </p>
  </div>
  <div class="italic text-lg mt-2">
    <p class="text-center">
      - Sir Francis Bacon, <a href="https://en.wikipedia.org/wiki/Francis_Bacon" class="link">The father of
        empiricism</a> and one of the founders of the scientific method
    </p>
  </div>
</div>
<div class="hero min-h-screen bg-base-100 my-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row">
    <div class="px-3">
      <h1 class="text-4xl font-bold">Sustainable.</h1>
      <p class="py-6">
        We work with you to help define your goals concretely, plan and estimate your
        manageable pace of growth, and help you navigate both your negotiation
        scenarios in work, and navigating the job market.
      </p>
      <div class="flex justify-center">
        <a href="/docs/onboarding" class="my-6 w-fit lg:w-96 btn btn-outline">I'm interested</a>
      </div>
    </div>
    <picture class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl">
      <source loading="lazy" srcset="/assets/mountain.webp" type="image/webp">
      <source loading="lazy" srcset="/assets/mountain.jpg" type="image/jpeg">
      <img loading="lazy" src="/assets/mountain.jpg" />
    </picture>

  </div>
</div>
<app-cta-accelerate-your-growth></app-cta-accelerate-your-growth>