<div class="hero py-12 bg-base-100 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <a href="/docs/about" class="cursor">
      <picture class=" w-48 sm:w-xs md:w-72 rounded-full shadow-2xl">
        <source srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
          class=" w-48 sm:w-xs md:w-72 rounded-full shadow-2xl">
        <source srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
          class=" w-48 sm:w-xs md:w-72 rounded-full shadow-2xl">
        <img src="/assets/dev-profile-microsoft-2023.jpg" class=" w-48 sm:w-xs md:w-72 rounded-full shadow-2xl" />
      </picture>
    </a>

    <div class="px-3 w-5/6 md:w-2/3">
      <h1 class="text-2xl sm:text-4xl font-bold">Tome.gg coaching <br />and mentoring</h1>
      <h2 class="text-xl sm:text-2xl italic mt-4">For mid- to senior-level software engineers.</h2>
      <p class="pb-6 mt-8">
        Try <strong class="text-xl">Ink</strong>, our AI co-pilot that helps you navigate your
        software engineering journey, asks and writes about your learning, and helps you
        understand how you learn.
      </p>
      <a href="#" (click)="tryInk($event)" class="btn btn-outline mr-3 mb-3">Try Ink</a>
      <a href="#" (click)="tryDiscovery($event)" class="btn btn-outline mr-3 mb-3">Request Coaching</a>
    </div>
  </div>
</div>
<div>
  <div class="bg-white w-full">
    <h1 class="text-3xl font-bold text-center py-4">Testimonials</h1>
    <div class="h-fit p-4 carousel w-full carousel-horizontal rounded-box">
      <div class="carousel-item h-full w-72 flex flex-col px-8">
        <div class="avatar placeholder my-4 mx-auto">
          <div class="bg-neutral text-neutral-content rounded-full w-12">
            <span class="text-base">JB</span>
          </div>
        </div>
        <p class="text-sm text-gray-400 text-center mb-4 italic">
          June 2024. JB has one-off apprenticeship sessions, once every other month.
        </p>
        <div class="rating mx-auto">
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
        </div>
        <p class="text-sm font-semibold my-4">What did you find most valuable about the session?</p>
        <p class="text-base">
          "How quick and direct to the point his coaching was. I had one question and he helped me
          address the situation right away. Also, Coach Darren went beyond expectations and taught me more than I asked
          so that I can diagnose the problems on my own."
        </p>
        <p class="text-sm font-semibold my-4">What could have improved your experience?</p>
        <p class="text-base">
          "Honestly, nothing I could think of. Coach Darren has thought his session through."
        </p>
        <p class="text-sm text-gray-400 text-center my-4">
          Services used: Discovery & Directions Deep-dive, Rapid coaching
        </p>
      </div>

      <div class="carousel-item h-full w-72 flex flex-col px-8">
        <div class="avatar placeholder my-4 mx-auto">
          <div class="bg-neutral text-neutral-content rounded-full w-12">
            <span class="text-base">VA</span>
          </div>
        </div>
        <p class="text-sm text-gray-400 text-center mb-4 italic">
          June 2024. VA has one-off apprenticeship sessions, once every other month.
        </p>
        <div class="rating mx-auto">
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
        </div>
        <p class="text-sm font-semibold my-4">What did you find most valuable about the session?</p>
        <p class="text-base">
          "To have someone journal the session throughout the whole call. Helped to keep track of the topics discussed."
        </p>
        <p class="text-sm font-semibold my-4">What could have improved your experience?</p>
        <p class="text-base">
          "The experience surpassed my expectations in a positive way. No comments here!"
        </p>
        <p class="text-sm text-gray-400 text-center my-4">
          Services used: Discovery & Directions Deep-dive
        </p>
      </div>

      <div class="carousel-item h-full w-72 flex flex-col px-8">
        <div class="avatar placeholder my-4 mx-auto">
          <div class="bg-neutral text-neutral-content rounded-full w-12">
            <span class="text-base">GA</span>
          </div>
        </div>
        <p class="text-sm text-gray-400 text-center mb-4 italic">
          May 2024. GA only had a one-off discovery and deep dive session.
        </p>
        <div class="rating mx-auto">
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
        </div>
        <p class="text-sm font-semibold my-4">What did you find most valuable about the session?</p>
        <p class="text-base">
          "His explanation of the concept of opportunity cost was a real eye-opener—it highlighted
          the importance of getting started right away to avoid wasting time. The way he went
          through the different stages of training was well-structured and conveyed with great
          empathy, which made it clear that aligning these aspects is crucial for effective learning."
        </p>
        <p class="text-sm font-semibold my-4">"Do you have any additional comments or feedback that could help us
          improve our sessions?"</p>
        <p class="text-base">
          "I really liked the personalized approach to the coaching. It felt like it was tailored just for my needs,
          especially when tackling big topics like confidence in data science. Thank you!"
        </p>
        <p class="text-sm text-gray-400 text-center my-4">
          Services used: Discovery & Directions Deep-dive
        </p>
      </div>

    </div>


    <div class="py-8 my-4 lg:my-8 px-4 mx-auto md:w-2/3">
      <h1 class="text-3xl font-bold text-center py-4">Our Coaching Process</h1>
      <h2 class="text-xl font-bold text-center py-4">Discovery & Directions Deep Dive (D4)</h2>
      <p class="md:text-center mt-4 mb-8">
        The first step in our program is a discovery process. Here, our primary objective is to enable you to gain
        clarity.
      </p>
      <p class="md:text-center text-gray-400 mt-4 mb-8">
        We do this through a structure process of exploration, while your coach/mentor journals
        the information that you are sharing. This habit of precisely writing your thoughts down
        is demonstrated for you, to help you develop the necessary habit of writing to collect
        your thoughts. A one-page executive summary is prepared for you and sent afterwards.
      </p>
      <div class="w-fit mx-auto my-4 md:text-center">
        <ul class="steps steps-vertical md:steps-horizontal text-left md:text-center">
          <li class="step"><span (click)="tryDiscovery($event)" class='link cursor' href='#'>Fill up registration
              form</span>
          </li>
          <li class="step">Book a coaching session schedule</li>
          <li class="step">Define the scope of coaching during the session</li>
        </ul>
      </div>
      <h2 class="text-xl font-bold text-center py-4 mt-8 md:mt-16">After the session</h2>
      <p class="text-gray-400 mt-4 mb-8">
        After the coaching session, we send over the following:
      </p>
      <ol class="list list-decimal px-4">
        <li>
          A one-page detailed report of the discussion. This also acts as the first page of your growth journal.
        </li>
        <li>
          A link to the 45-60 minute recorded coaching session, for your later review and study.
        </li>
        <li>
          An email that recaps an executive summary of our discussions along with your action items.
        </li>
      </ol>
    </div>

    <div class="py-8 my-4 lg:my-8 px-4 mx-auto md:w-2/3">
      <h1 class="text-3xl font-bold text-center py-4">Vision</h1>
      <p class="text-center my-4">
        Education should be free, but acceleration should be paid.
        <span class="text-gray-400 md:block">
          In some sense, we ought to pay more attention on how to design and live life that's more <i>
            free to play and grow the pie, </i>and less <i>pay to win and starve the competition</i>.
        </span>
      </p>
      <div class="mx-auto w-fit my-8">
        <a href="/docs/about" class="btn btn-outline">About Tome.gg</a>
      </div>
    </div>
  </div>
</div>