<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/assets/negotiation.jpg" class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl" />
    <div class="px-3">
      <h1 class="text-4xl font-bold">Tome.gg coaching <br />and mentoring</h1>
      <h2 class="text-2xl italic">For mid- to senior-level software engineers.</h2>
      <!-- <p class="py-2">
        Your growth as a software engineer is one of the most important assets
        you can invest in.
      </p> -->
      <p class="py-6">
        Your adventure in tech opens you to financial freedom, shapes you into a valuable
        and adaptable professional in a fast-paced job market, and asks you to discover
        your healthy and sustainable growth practices for yourself and for others.
      </p>
      <p class="pb-6">
        <strong>Tome.gg</strong> provides a framework for self-directed, sustainable learning
        and offers hyper-personalized mentorship.
      </p>
      <a href="https://waitlist.tome.gg" class="btn btn-primary mr-3 mb-3">Find a mentor</a>
      <a href="?utm_source=tomegg&utm_medium=hero-cta&utm_campaign=app_reference" class="btn btn-secondary">Use the
        Tome.gg Framework</a>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-base-100 mb-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/assets/pair-programming.jpg" class="xs:max-w-sm md:max-w-lg rounded-lg shadow-2xl" />
    <div class="px-3">
      <h1 class="text-4xl font-bold">Hyper-personalized education in 2023</h1>
      <h2 class="text-2xl italic">through people, stories, and learning from games.</h2>
      <!-- <p class="py-2">
        Your growth as a software engineer is one of the most important assets
        you can invest in.
      </p> -->
      <p class="py-6">
        In the medical field, there's this pipe dream fantasy of a miracle drug
        that is crafted with your blood type and DNA, which is super potent in healing
        you. Tome.gg aims to do that for education.
      </p>
      <p class="pb-6">
        We do this through high-touch, personalized apprentice/mentorship programs
        that are tailored specifically for you, guided by the Tome.gg protocols
        which follows our philosophy of freedom, sustainable growth, and self-actualization.
      </p>
      <p class="pb-6">
        To acquire your own hyper-personalized <strong>tome of knowledge</strong>, you must
        do your part in writing it and engaging others (mentors, educators, peers) to contribute to it.
        At Tome.gg, we show you the ways (i.e. protocols) to craft and own this legendary item.
      </p>
      <a href="https://waitlist.tome.gg" class="btn btn-primary">Craft your Legendary Tome</a>
    </div>
  </div>
</div>
<div class="grid xs:grid-cols-1 md:grid-cols-3 gap-x-0 gap-y-8 md:gap-8 md:w-4/5 mx-auto">
  <div class="md:col-span-3 py-6 px-4 bg-gray-50 rounded-lg text-center">
    <h1 class=" font-bold text-3xl">Tome.gg Value Proposition</h1>
    <h2 class="text-2xl italic">Our coaching and mentoring services advance you in these three areas.</h2>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-72"><img src="/assets/writing.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Communication</h2>
      <p>Software engineers are excellent when it comes to deciphering the errors and problems that the machine spits
        out,
        and navigating Google to further understand the problem so that they can instruct the machine to do as required.
      </p>
      <p>Unfortunately, majority of engineers struggle to express themselves accurately and concisely, and sometimes
        have some anxieties when it comes to speaking.</p>
      <p>Tome.gg mentors address this by training you to write and speak accurately and in an intellectually humble
        manner.
      </p>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96"><img src="/assets/mountain.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Best practices in growth</h2>
      <p>
        <em>Imposter syndrome.</em> It's when you feel like you're not good enough and that you've faked your way
        into the higher role that you currently have, and you're anxiously waiting for the moment you
        are discovered, thrown out, or replaced.
      </p>
      <p>This is a symptom commonly experienced by software engineers at various levels: from junior
        engineers way up to the executive levels such as CTOs and engineering managers.
      </p>
      <p>
        Tome.gg mentors address this by helping you see your growth and progress accurately, by helping you pay
        attention
        to your true performance and identify bad growth habits that hinder you from accomplishing your majestic goals.
      </p>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure><img src="/assets/mentoring.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Professional contexts</h2>
      <p>You may have grown and performed exceptionally well and now your CTO asks you to deal with junior developers,
        managing and leading people. Simply, transform your 10x developer performance into 1000x by teaching and
        mentoring.
      </p>
      <p>
        Not everyone is equipped to teach, lead, mentor, or manage people. That's why we've collected resources and
        written operational guides on the different <b>professional contexts</b> such as code reviews, performance
        reviews,
        sprint planning, and more.
      </p>
      <p>
        Tome.gg mentors accelerate you in navigating these scenarios and situations so that you won't need to spend 12
        months
        experimenting and discovering that a set of methods don't work. Review our catalog, and analyze which context
        works best for you.
      </p>
    </div>
  </div>
  <div class="md:col-span-3 py-6 px-4 bg-gray-50 rounded-lg text-center">
    <h1 class=" font-bold text-3xl">Tome.gg Resources</h1>
    <h2 class="text-2xl italic">for free, for everyone.</h2>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96"><img src="/assets/books.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Tome.gg Library</h2>
      <p>We collect resources from external websites that we've reviewed and highly recommend to the Tome.gg community.
      </p>
      <a href="https://docs.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">View Library</a>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96"><img src="/assets/pathway.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Tome.gg Protocol</h2>
      <p>We believe that the best ways of learning and growing are meant to be shared freely, advancing human
        society in ways that open-source and global collaboration never imagined.
      </p>
      <p>
        Tome.gg's protocols are open and free to the public to support accessibility to education.
      </p>
      <a href="https://protocol.tome.gg?utm_source=tomegg&utm_medium=resources&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">View Protocols</a>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96"><img src="/assets/comics.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title font-bold text-3xl">Awesome List of Mentors and Apprentices</h2>
      <p>There are various apprentices and mentors in various forms of media: characters like Professor Xavier,
        Luke Skywalker, The Doctor, Tony Stark, All Might, Saitama, and Kakashi.
      </p>
      <p>
        We collect all of this to review and analyze the different kinds of teaching methodologies,
        learning preferences, temperaments, and peculiarities of different characters in different universes...
        <strong>to enable you to discover, describe, and find the right mentor</strong>.
      </p>
      <a href="https://github.com/tome-gg/AwesomeMentorsApprentices" class="btn btn-primary mr-3 mb-3">View Awesome
        Mentors and Apprentices</a>
    </div>
  </div>
  <div class="md:col-span-3 py-6 px-4 bg-gray-50 rounded-lg text-center">
    <h1 class=" font-bold text-3xl">Tome.gg Products and Services</h1>
    <h2 class="text-2xl italic">Own your growth journal and immerse yourself in case studies.</h2>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-72"><img src="/assets/warehouse.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Data ownership</h2>
      <p>Your growth data isn't meant to be warehoused in some foreign company or lost in the Google
        Workspace of the company you just left. Why should you be prevented from your growth data, including both your
        struggles and perseverance in your growth and your mentor's and advisor's feedback?
      </p>
      <p>
        <strong>The value of your growth is only coincidentally useful to the company or the school that you are with as
          long as you are with them.</strong> Afterwards, your growth data is no longer valuable to them, but it is a
        huge loss for you.
      </p>
      <p>
        Your knowledge is the output of your growth. But your journey towards it-- that growth data is yours. It is your
        asset, and it is everyone's first asset. Ownership of your growth is one of the first steps towards
        financial freedom, sustainability, and self-actualization.
      </p>
      <p>This is why we developed the Tome.gg protocols: to teach others how to own and protect their data in the form
        of your own personal growth journal.</p>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-72"><img src="/assets/growth.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Growth Journal</h2>
      <p>
        Tome.gg mentors guide you with the best practices in growth, both in theoretical (mindsets, idealogies,
        strategies, and direction) and in the applied sense (actual training, guidance, feedback, accountability).
      </p>
      <p>
        <strong>Our coaching and mentoring programs aren't designed for you to be dependent on us. </strong> In fact,
        our mission is to
        enable hundreds of individuals to become self-sustaining, independent lifelong learners that compound their
        growth and accelerates and uplifts others. Our job is completed when you and your mentor have exhausted most
        if not all of the skills you can acquire from your mentor.
      </p>
      <p>In Tome.gg, mentors guide you in <strong>how to write about your growth data following the Tome.gg protocol at
          a repository
          that you personally own, which we do not have access to. You decide who to grant read or write access to
          it.</strong>
        The founder of Tome.gg practices this learn-in-public writing of their growth to demonstrate and inspire others
        to also take ownership and responsibility of their personal growth.
      </p>
      <a href="https://www.tome.gg/repo?source=github.com%2Fdarrensapalo%2Ffounder&training=dsu-reports.yaml&eval=eval-self.yaml&utm_source=tomegg&utm_medium=direct&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">View Growth Journal</a>
    </div>
  </div>

  <div class="card w-auto bg-base-100 shadow-xl">
    <figure class="h-96"><img src="/assets/case-study.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Escape room puzzle games, but for software engineers</h2>
      <p>
        Sit down with three other players and let our game master immerse you into real-life case studies of
        system failures that you investigate, analyze, and remediate as a team. This activity is very much like
        <strong>dungeons and dragons but you take home important software engineering concepts
          like application security, system reliability, learning to read and write sequence flow diagrams and
          architectural
          diagrams.</strong>
      </p>
      <p>Yes. This is legit. I know, it's exciting.</p>
      <p>
        Are you a mid- to senior-level software engineer looking to take your skills to the next level? Do you want to
        learn how to solve complex problems in a fun and engaging way?
      </p>
      <p>If so, join us for our upcoming event: Roleplay and Case-based Learning with Tome.gg!
      </p>
      <a href="https://waitlist.tome.gg/rpg&utm_source=tomegg&utm_medium=direct&utm_campaign=app_reference"
        class="btn btn-primary mr-3 mb-3">Join the waitlist</a>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl max-h-fit ">
    <figure class="h-72"><img src="/assets/tgc-gaming.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body flex flex-col justify-start">
      <h2 class="card-title">What does transfer learning mean?</h2>
      <p class="">
        In Tome.gg, we leverage transfer learning to teach our students rapidly. It leverages a shared schema, model,
        or
        understanding to communicate quickly and efficiently. Simply put, it is what we do when we make analogies.
      </p>
      <p class="">
        Tome.gg has some learning content transferred from games to software development. You can check that out!</p>
      <div class="card-actions">
        <a href="https://dota2.tome.gg?utm_source=tomegg&utm_medium=banner&utm_campaign=app_reference" class="btn">Dota
          2 by Tome.gg</a>
      </div>
    </div>
  </div>
  <div class="card w-auto bg-base-100 shadow-xl max-h-fit ">
    <figure class="h-72"><img src="/assets/graphing-paper.jpg" class="object-cover" alt="Shoes" /></figure>
    <div class="card-body flex flex-col justify-start">
      <h2 class="card-title">Whitepaper</h2>
      <p class="">
        We're serious about solving the problem of educational accessibiltiy and hyper-personalized education. We're
        actively researching in the areas of mentorship and apprenticeship, knowledge management, AI, and the software
        engineering industry.
      </p>
      <div class="card-actions">
        <a href="https://github.com/tome-gg/whitepaper/blob/main/main.pdf?utm_source=tomegg&utm_medium=banner&utm_campaign=app_invite"
          class="btn">Read Whitepaper</a>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl w-full mx-auto p-4">
    <a class="twitter-timeline" data-chrome="transparent noborders" data-tweet-limit="1"
      href="https://twitter.com/thetomegg">
      Tweets by @thetomegg
    </a>
  </div>
</div>