<div class="mockup-code text-xs">
  <pre data-prefix=" " ><code>Mentoring engagement</code></pre> 
  <pre data-prefix=" " ><code>Negotiation term: Session frequency</code></pre> 
  <pre data-prefix=" " ><code>Negotiation protocol: TNP 1.0 - Session frequency</code></pre> 
  <pre data-prefix="-" class="text-warning"><code>Session frequency: Twice a month</code></pre> 
  <pre data-prefix="-" class="text-success"><code>Session frequency: Every day</code></pre> 
  <pre data-prefix="+" class="text-success"><code>Mentor missed sessions allowed: 5</code></pre>
  <pre data-prefix="+" class="text-success"><code>Apprentice failure count allowed: 3</code></pre>
  <pre data-prefix="+" class="text-success"><code>Apprentice failure type: Total mistakes</code></pre>
  <pre data-prefix="+" class="text-success"><code>Mentor failure stake: 10 SOL</code></pre>
  <pre data-prefix="+" class="text-success"><code>Apprentice failure stake: 8 SOL</code></pre>
  <pre data-prefix="+" class="text-success"><code>Apprentice reset option: reset upon consecutive successful DSU practice</code></pre>
  <pre data-prefix="+" class="text-success"><code>Mentor reset option: Initiated by apprentice only</code></pre>
  <pre data-prefix=" " ><code>Upon any type of failure from either party, the negotiated term reverts to its originally proposed setting.</code></pre> 
</div>
<div class="mt-8 mx-auto w-content">
  <a href="/alignment" class="btn">Return to demo</a>
</div>