<div class="hero min-h-screen bg-base-100 rounded-lg">
  <div class="hero-content flex-col lg:flex-col">
    <div class="flex flex-col md:flex-row">
      <picture class="max-w-2 rounded-full my-4 md:my-auto mx-auto md:mx-4">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
          class="w-32 rounded-full">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
          class="w-32 rounded-full">
        <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-32 rounded-full" />
      </picture>
    </div>

    <div class="px-3">
      <h1 class="text-4xl font-bold mt-4">Refund Policy</h1>
      <h2 class="text-2xl italic mt-2">Simple.</h2>
      <p class="mt-4 mt-4">
        We keep our refund policy simple by distinguishing it into two: general
        refund policies and specific refund policies.
      </p>
      <p class="mt-4">
        As a service business, our goal is to deliver the best value to our beloved
        customers, and to keep you focused on your training and personal growth while
        we empower you behind the scenes.
      </p>
      <p class="mt-4">
        <strong>Specific Refund Policies: </strong>
        At the start of any service or program that you register to, we create a
        Apprenticeship Contract that details the specific terms of your refund policy
        tailored for the program that you are in. These are the primary terms
        of the refund policy. Anything not specified here relies on the general terms
        of the refund policy.
      </p>
      <p class="mt-4">
        <strong>General Refund Policies: </strong>
        If you are unsatisfied with the service and are unsatisfied with the
        quality of mentorship and work that we do, inform your mentor first and
        provide feedback. If this does not work, inform our team immediately or
        email <code>darren.sapalo@gmail.com</code>. This initiates the refund
        process which takes usually 3-5 business days.

      </p>
      <p class="mt-4">
        <strong>Acceptable Refund Cases: </strong>
        Consistent under-performance by your mentor (as described in your
        contract) are grounds for you to claim a refund. With valid grounds for
        requesting a refund, you may claim a full refund if you've only completed
        30% of your program duration. Any progress after that, you can avail of
        a partial refund (graduated decrease as it nears to the end of the program).
      </p>
    </div>
  </div>
</div>
<!-- <div class="hero bg-base-100 my-8 rounded-lg">
  <div class="hero-content flex-col lg:flex-row">
    <div class="px-3">
      <h1 class="text-4xl font-bold mt-4">Outli</h1>
      <p class="mt-4">
        Tome.gg is led by Darren and we are a strong, lean team of 5 with big
        dreams of enabling scalable, hyper-personalized mentorship.
      </p>
      <p class="mt-4">
        Altogether, we have the expertise of
        digital marketing, brand strategy, operations management and
        business development, instructional materials design, technology, coaching and mentorship.
      </p>
    </div>
  </div>
</div> -->