<div class="hero min-h-screen bg-base-100 rounded-lg">
  <div class="hero-content flex-col lg:flex-col">
    <div class="flex flex-col md:flex-row">
      <picture class="max-w-2 rounded-full my-4 md:my-auto mx-auto md:mx-4">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.webp" type="image/webp"
          class="w-32 rounded-full">
        <source loading="lazy" srcset="/assets/dev-profile-microsoft-2023.jpg" type="image/jpeg"
          class="w-32 rounded-full">
        <img loading="lazy" src="/assets/dev-profile-microsoft-2023.jpg" class="w-32 rounded-full" />
      </picture>
    </div>

    <div class="px-3">
      <h1 class="text-4xl font-bold mt-4">Refund Policy</h1>
      <h2 class="text-2xl italic mt-2">Simple.</h2>
      <p class="mt-4 mt-4">
        Our refund policy guarantees a full refund, no questions asked, for our services.
        If you are not completely satisfied, you can request a full money-back guarantee.
      </p>
      <p class="mt-4 mt-4">
        Your satisfaction is our priority, and we strive to provide a hassle-free refund experience.
      </p>
    </div>
  </div>
</div>